<div>
    <fieldset class="searchbox-border">
        <legend class="searchbox-border">Battery</legend>
        
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed Date</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.battery.lastChangedOn"  class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed Date" />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed K.M.</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.battery.lastChangedKm" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Comment</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.battery.description"  class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
    </fieldset>    
    <fieldset class="searchbox-border">
        <legend class="searchbox-border">Electricals</legend>
        
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed Date</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.electricals.lastChangedOn" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed Date" />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed K.M.</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.electricals.lastChangedKm" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Comment</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.electricals.description" id="vehicle_vehiclePerformance_electricals_description" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
    </fieldset>    
    <p class="clear" />

</div>
