<div>
    <div class="fieldContainer relative left">
        <label class="control-label">Permit Number</label>
        <input type="text" ng-model="tmpPermitDetails.permitNumber" class="form-control validate[required,maxSize[128]] large" placeholder="Permit Number" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Issue Date</label>
        <input type="text" ng-model="tmpPermitDetails.issueDate" class="form-control validate[required,maxSize[128]] large" placeholder="Start Date" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Expiry Date</label>
        <input type="text" ng-model="tmpPermitDetails.expiryDate" class="form-control validate[required,maxSize[128]] large" placeholder="Expiry Date" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Insurance Type</label>
        <select class="form-control validate[maxSize[36]] large" ng-model="tmpPermitDetails.permitType" ng-options="value.type as value.title for value in insuranceTypeOptions">
        </select>

    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Add to List</label>
        <input type="button"  ng-click="fnAddPermitToList();" value="{{permitAddButon}}" class=" left" />
        <input type="hidden"  name="rowIndex" ng-model="tmpPermitDetails.rowIndex" />
    </div>
    <div class="supportTabGridContainer">
        <div ng-grid="permitGridOptions" class="supportTabGrid"></div>
    </div>
    <p class="clear"/>
</div>

