.firstTimeCustomerContainer .large{
  width: 150px;
}

.firstTimeCustomerContainer .searchbox-border{
  margin-bottom: 0px;
}

.firstTimeCustomerContainer .control-label{
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstTimeCustomerContainer .booking-fieldset{
  padding: 0px 2px 0px 15px !important
}

.existing-customer-booking, .firt-time-customer{
  width: 100%;
}

.firstTimeCustomerContainer .softAlertMessages i{
  color: #006800;
  background: #FF0;
  font-weight: bold;
  font-size: 12px;
}

@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

.blink {
   text-decoration:blink;

  -webkit-animation-name:blinker;
          animation-name:blinker;  
  -webkit-animation-iteration-count:infinite;  
          animation-iteration-count:infinite;  
  -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
          animation-timing-function:cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:1s; 
          animation-duration:1s; 
}

.link {
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}

.softAlertErrorMsg {
  color: white;font-weight: bold;background:red;display: inline-block;
}

.softAlertWarningMsg1 {
  color: green;background:yellow;display: inline-block;
}
.softAlertWarningMsg2 {
  color: green;font-weight: bold;background:#E9E9AC;display: inline-block;
}


fieldset.customerDetailsContainer {
  width: 235px;
}
fieldset.bookingFormController {
  width: 425px;
}

ul.bookingNav_ul{
  list-style-type:none;
}

ul.bookingNav_ul > li{
  float:left;
  text-align: center;
  width:150px;
  line-height:24px;
  font-weight: bold;
  color: #15428B;
}

ul.bookingNav_ul li:last-child {
  width:175px;
}

.marginRightLeft5{
  margin: 0 5px 0 5px;
  width: 200px;
}
.bokingLabel {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
}
.bookingHistoryGrid{
  font-size:11px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
  text-align: center;
}
.ngTopPanel{
  background-color: #3a3a3a !important;
  border-bottom: 1px solid #d4d4d4;
  color: #fff;
  text-align: center;
}
.tabSelcted{
  color:#fff !important;
}