<div class="educationalDetails" >
    <div class="fieldContainer relative left">
        <label class="control-label">Qualification</label>
        <input type="text" ng-model="tmpEducationalDetails.qualification" class="form-control validate[required,maxSize[128]] large" placeholder="Qualification" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Year of Passing</label>
        <input type="text" ng-model="tmpEducationalDetails.yop" class="form-control validate[required,maxSize[128]] large" placeholder="Year of Passing" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Institute/College</label>
        <input type="text" ng-model="tmpEducationalDetails.institute" class="form-control validate[required,maxSize[128]] large" placeholder="Institute" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Percent/Marks</label>
	    <input type="text" ng-model="tmpEducationalDetails.percentMarks" class="form-control validate[required,maxSize[128]] large" placeholder="Percent/ Marks" />

    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Grade</label>
	    <input type="text" ng-model="tmpEducationalDetails.grade" class="form-control validate[required,maxSize[128]] large" placeholder="Grade" />

    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Add to List</label>
        <input type="button"  ng-click="fnAddEducationalDetailsToList();" value="{{educationalDetailsAddButon}}" class=" left" />
        <input type="hidden"  name="rowIndex" ng-model="tmpEducationalDetails.rowIndex" />
    </div>
    <div class="supportTabGridContainer">
        <div ng-grid="educationalDetailsGridOptions" class="supportTabGrid"></div>
    </div>
    <p class="clear"/>
</div>

