<div class="pastExperienceDetails">
    <div class="fieldContainer relative left">
        <label class="control-label">Company</label>
        <input type="text" ng-model="tmpPastExperienceDetails.company" class="form-control validate[required,maxSize[128]] large" placeholder="Company" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Start Date/ Joined On</label>
        <input type="text" ng-model="tmpPastExperienceDetails.startDate" class="form-control validate[required,maxSize[128]] large" placeholder="Start Date" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">End Date/ Released On</label>
        <input type="text" ng-model="tmpPastExperienceDetails.endDate" class="form-control validate[required,maxSize[128]] large" placeholder="End Date" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Location</label>
	    <input type="text" ng-model="tmpPastExperienceDetails.location" class="form-control validate[required,maxSize[128]] large" placeholder="Location" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Emp ID</label>
	    <input type="text" ng-model="tmpPastExperienceDetails.employeeId" class="form-control validate[required,maxSize[128]] large" placeholder="Employee ID" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Add to List</label>
        <input type="button"  ng-click="fnAddPastExperienceDetailsToList();" value="{{pastExperienceDetailsAddButon}}" class=" left" />
        <input type="hidden"  name="rowIndex" ng-model="tmpPastExperienceDetails.rowIndex" />
    </div>
    <div class="supportTabGridContainer">
        <div ng-grid="pastExperienceDetailsGridOptions" class="supportTabGrid"></div>
    </div>
    <p class="clear"/>
</div>

