<div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Company Name</label>
        <input type="text" ng-model="user.basicDetails.username" class="form-control validate[required,maxSize[128]] large" placeholder="Company Name"/>
    </div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Website</label>
        <input type="text" ng-model="user.basicDetails.username" class="form-control validate[required,maxSize[128]] large" placeholder="Website"/>
    </div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Company Email</label>
        <input type="text" ng-model="user.basicDetails.username" class="form-control validate[required,maxSize[128]] large" placeholder="Company Email"/>
    </div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Company Phone1</label>
        <input type="text" ng-model="user.basicDetails.username" class="form-control validate[required,maxSize[128]] large" placeholder="Company Phone1"/>
    </div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Company Phone2</label>
        <input type="text" ng-model="user.basicDetails.username" class="form-control validate[required,maxSize[128]] large" placeholder="Company Phone2"/>
    </div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Company Landline</label>
        <input type="text" ng-model="user.basicDetails.username" class="form-control validate[required,maxSize[128]] large" placeholder="Company Landline"/>
    </div>
     <fieldset class="searchbox-border user-addupdate-addresses-fieldset" style="float: left;margin-top: 10px !important;">
        <legend class="searchbox-border">Company Address</legend>
        
        <div class = "fieldContainer relative left">
            <label class="control-label">Line 1</label>
            <input type="text" ng-model="user.basicDetails.addresses[0].addressLine1" class="form-control validate[required,maxSize[128]] large" placeholder="Address Line 1"/>
        </div>
        <div class = "fieldContainer relative left">
            <label class="control-label">Line 2</label>
            <input type="text" ng-model="user.basicDetails.addresses[0].addressLine2" class="form-control validate[required,maxSize[128]] large" placeholder="Address Line 2"/>
        </div>
        <div class = "fieldContainer relative left">
            <label class="control-label">City</label>
            <input type="text" ng-model="user.basicDetails.addresses[0].city" class="form-control validate[required,maxSize[128]] large" placeholder="City"/>
        </div>
        <div class = "fieldContainer relative left">
            <label class="control-label">State</label>
            <input type="text" ng-model="user.basicDetails.addresses[0].state" class="form-control validate[required,maxSize[128]] large" placeholder="State"/>
        </div>
        <div class = "fieldContainer relative left">
            <label class="control-label">Pincode</label>
            <input type="text" ng-model="user.basicDetails.addresses[0].pincode" class="form-control validate[required,maxSize[128]] large" placeholder="Pincode"/>
        </div>
    </fieldset>
</div>

<div class="customer-booking-tabs " ng-controller = "UserProfessionalDetails">
    <ul class="nav nav-tabs" style="margin-top: 20px;">
        <li data-ng-class="{ active: fnIsActiveProfessionalSubTab(1)}" data-ng-click="fnSetActiveProfessionalSubTab(1)"><a>Educational Details</a>
        </li>
        <li data-ng-class="{ active: fnIsActiveProfessionalSubTab(2)}" data-ng-click="fnSetActiveProfessionalSubTab(2)"><a>Past Experience</a>
        </li>
    </ul>

    <div class="tab-body" data-ng-show="professionalSubTab==1">
        <div data-ng-include="userEducationalDetails" style="clear:both;"></div>
    </div>
    <div class="tab-body" data-ng-show="professionalSubTab==2">
        <div data-ng-include="userPastExperienceDetails" style="clear:both;"></div>
    </div>
</div>