<div class="">

	<div class="fieldContainer relative left">
        <label class="control-label">Client ID #</label>
        <input type="text" ng-model="user.driverDetails.liscenseDetails.liscenseNumber"  class="form-control validate[required,maxSize[128]] large" placeholder="CLIENT ID" readonly />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Name</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder="Name" readonly />
    </div>    
    <div class="fieldContainer relative left">
        <label class="control-label">Mobile1</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder="Mobile1" readonly />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Investment</label>
    	<select></select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Total Investment Amount</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder="" readonly />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Paid Amount</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Balance Amount</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder="" readonly  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">No. of Vehicles</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Each Vehicle Value</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Paid Date</label>	        
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Payment Type</label>
    	<select></select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Cheque No.</label>
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Cheque Date.</label>
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Bank Name</label>
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Bank Name</label>
    	<input type="text"  class="form-control validate[required,maxSize[128]] large" placeholder=""  />
    </div>
    <p class="clear"/>  
</div>