<div class="personalDetailsContainer">
    <div class = "fieldContainer relative left">
        <label class="control-label">Employee ID</label>
        <input type="text" ng-model="user.basicDetails.firstName" class="form-control validate[required,maxSize[128]] large" placeholder="EMP ID" readonly/>
    </div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Owner ID</label>
        <input type="text" ng-model="user.basicDetails.firstName" class="form-control validate[required,maxSize[128]] large" placeholder="OWNER ID" readonly/>
    </div>
    <div class = "fieldContainer relative left">
        <label class="control-label">Client ID</label>
        <input type="text" ng-model="user.basicDetails.firstName" class="form-control validate[required,maxSize[128]] large" placeholder="CLIENT ID" readonly/>
    </div>
    <fieldset class="searchbox-border user-addupdate-addresses-fieldset" style="clear: both;margin-top: 10px !important;">
        <legend class="searchbox-border">Employee Details</legend>
        <i>No employee details are attached with this customer.</i>
    </fieldset>
    <fieldset class="searchbox-border user-addupdate-addresses-fieldset" style="clear: both;margin-top: 10px !important;">
        <legend class="searchbox-border">Owner Details</legend>
        <i>No owner details are attached with this customer.</i>
    </fieldset>
    <fieldset class="searchbox-border user-addupdate-addresses-fieldset" style="clear: both;margin-top: 10px !important;">
        <legend class="searchbox-border">Client Details</legend>
        <i>No client details are attached with this customer.</i>
    </fieldset>
    
    <p class="clear"/>
</div>