<div>
    <div class="fieldContainer relative left">
        <label class="control-label">Vehicle Code</label>
        <input type="text" ng-model="vehicle.vehicleCode" class="form-control validate[required,maxSize[128]] large" placeholder="Vehicle Code" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Vehicle Type</label>
        <select class="form-control validate[maxSize[36]] large" id="vehicle_type" data-ng-model="vehicle.vehicleType" data-ng-options="k as v for (k,v) in vehicleTypes">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Vehicle Brand</label>
        <select class="form-control validate[maxSize[36]] large" id="vehicle_brand" ng-model="vehicle.brand" ng-options="value.id as value.name for value in vehicleBrands">
            <option value="">Select a Brand</option>
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Attachment Type</label>
        <select class="form-control validate[maxSize[36]] large" id="vehicle_attachmentType" ng-model="vehicle.vehicleAttachmentType" ng-options="value.type as value.name group by value.attachmentCategory for value in vehicleAttachmentTypes">
        </select>
    </div>

    <div class="fieldContainer relative left">
        <label class="control-label">Actual Owner</label>
        <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.actualOwner" ng-options="value.id as value.name for value in vehicleOwnersList">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Registration #</label>
        <input type="text" ng-model="vehicle.registrationNumber" id="vehicle_registrationNumber" class="form-control validate[required,maxSize[128]] large" placeholder="Registration Number" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Registration Mobile #</label>
        <input type="text" ng-model="vehicle.registeredMobileNumber" id="vehicle_registeredMobileNumber" class="form-control validate[required,maxSize[128]] large" placeholder="Registered Mobile Number" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">IMEI #</label>
        <input type="text" ng-model="vehicle.imeiNumber" id="vehicle_imeiNumber" class="form-control validate[required,maxSize[128]] large" placeholder="IMEI Number" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Year of Manufacturing</label>
        <input type="text" ng-model="vehicle.manufacturingYear" id="vehicle_manufacturingYear" class="form-control validate[required,maxSize[128]] large" placeholder="Year of Manufacturing" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Month of Manufacturing</label>
        <input type="text" ng-model="vehicle.manufacturingMonth" class="form-control validate[required,maxSize[128]] large" placeholder="Month of Manufacturing" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Engine #</label>
        <input type="text" ng-model="vehicle.engineNumber" id="vehicle_engineNumber" class="form-control validate[required,maxSize[128]] large" placeholder="Engine Number" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Chesis #</label>
        <input type="text" ng-model="vehicle.chesisNumber" id="vehicle_chesisNumber" class="form-control validate[required,maxSize[128]] large" placeholder="Chesis Number" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">vehicle Color</label>
        <input type="text" ng-model="vehicle.vehicleColor" id="vehicle_color" class="form-control validate[required,maxSize[128]] large" placeholder="Vehicle Color" />
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Carrier</label>
        <select class="form-control validate[maxSize[36]] large" id="vehicle_carrier" ng-model="vehicle.carrier" ng-options="value.type as value.title for value in carrierRadioTypes">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Company Branding</label>
        <select class="form-control validate[maxSize[36]] large" id="vehicle_company_branding" ng-model="vehicle.companyBranding" ng-options="value.type as value.title for value in brandingOptoins">
        </select>
    </div>    


    <div class="fieldContainer relative left">
        <label class="control-label">Vehicle ID</label>
        <input type="text" readonly="readonly" ng-model="vehicle.id" class="form-control validate[required,maxSize[128]] large" placeholder="Vehicle ID" />
    </div>
</div>
