<div>
    <fieldset class="searchbox-border">
        <legend class="searchbox-border">Coolers</legend>
        
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed Date</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.coolers.lastChangedOn" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed Date" />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed K.M.</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.coolers.lastChangedKm" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Comment</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.coolers.description" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
    </fieldset>    
    <fieldset class="searchbox-border">
        <legend class="searchbox-border">Air Filters</legend>
        
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed Date</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.airFilters.lastChangedOn" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed Date" />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Last Changed K.M.</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.airFilters.lastChangedKm" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
	    <div class="fieldContainer relative left">
	        <label class="control-label">Comment</label>
	        <input type="text" ng-model="vehicle.vehiclePerformance.airFilters.description" class="form-control validate[required,maxSize[128]] large" placeholder="Last Changed K.M." />
	    </div>
    </fieldset>    
    <p class="clear" />

</div>
