.firstTimeCustomerContainer .large{
  width: 150px;
}

.firstTimeCustomerContainer .searchbox-border{
  margin-bottom: 0px;
}

.firstTimeCustomerContainer .control-label{
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.firstTimeCustomerContainer .booking-fieldset{
  padding: 0px 2px 0px 15px !important
}

.existing-customer-booking, .firt-time-customer{
  /* width: 100%; */
}

.firstTimeCustomerContainer .softAlertMessages i{
  color: #006800;
  background: #FF0;
  font-weight: bold;
  font-size: 12px;
}

@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

.blink {
   text-decoration:blink;

  -webkit-animation-name:blinker;
          animation-name:blinker;  
  -webkit-animation-iteration-count:infinite;  
          animation-iteration-count:infinite;  
  -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
          animation-timing-function:cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:1s; 
          animation-duration:1s; 
}

.link {
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}

.softAlertErrorMsg {
  color: white;font-weight: bold;background:red;display: inline-block;
}

.softAlertWarningMsg1 {
  color: green;background:yellow;display: inline-block;
}
.softAlertWarningMsg2 {
  color: green;font-weight: bold;background:#E9E9AC;display: inline-block;
}


fieldset.customerDetailsContainer {
  width: 235px;
}
fieldset.bookingFormController {
  width: 430px;
}

ul.bookingNav_ul{
  list-style-type:none;
  display: table;
  width: 100%;
  table-layout: fixed;
}

ul.bookingNav_ul > li {
  cursor: pointer;
  float:left;
  text-align: center;
  line-height:24px;
  font-weight: bold;
  color: #15428B;
  display: table-cell;
  margin: 0px 25px 0px 0px;
}

ul.bookingNav_ul li:last-child {
 // width:175px;
}

.marginRightLeft5{
  margin: 0 5px 0 5px;
}
.bookingInput{
  width: 200px;
}

.bokingSelect{
  width:100px !important;
}
.bokingLabel {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
}
.bookingHistoryGrid{
  font-size:11px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
  text-align: center;
}
.ngTopPanel{
  background-color: #3a3a3a !important;
  border-bottom: 1px solid #d4d4d4;
  color: #fff;
  text-align: center;
}
.tabSelcted{
  color:#fff !important;
}
.selectLabel{
  width:40px !important;
}
.callTransfer{
  height:25px;
}

.closedBookingButtonsContainer .btnCompact {
  margin-left: 1px;
  margin-right: 1px;
}

.cancelBookingComment{
  width: 100px;
  height: 70px;
  border: 1px solid #B5B8C8;
}

.cancel-booking-container .fieldContainer label{
  width: 100px;
}
.cancel-booking-container .fieldContainer select,
.cancel-booking-container .fieldContainer textarea{
  width: 225px;
}
.cancel-booking-container fieldset{
  width: 100%;
}

.popupCallerInfo{
  background:#ccc;
  width:100%;
  height:20px;
  font-size:12px;
  margin-bottom: 5px;
}
.popupCallerInfo .innerLabel{
  font-weight: bold;
}
.popupCallerInfo .innerLabelContainer{
  margin: 2px 5px 0px 5px;
}
.bookingHeader{
  background-color: #ccc;
  height: 25px;
  padding: 2px;
  
}

.modalClass.add-request .modal-dialog{
  width: 442px !important;
}

.multiVehicleCount{
  width: 35px !important;
  text-align: center !important;
}

fieldset.multiVehicleCountContainer .countFieldContainer{
  margin: -3px 10px 2px 10px;
}
fieldset.multiVehicleCountContainer .countFieldContainer .labelCompact{
}


.headMultiVehicleTable{
  width: 115px;
}
.headMultiVehicleTable{
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  width: 102px;
  background: #333;
  color: #FFF;
  border: 1px solid #FFF;
}

.modalClass.multi-vehicle-container-modal .modal-dialog{
  width: 1275px !important;
}

.singleVehicleRow td {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.bookingsTable{
  border :1 ;
  text-align: center;
}
th{
  background-color: #3a3a3a !important;
  border-bottom: 1px solid #d4d4d4;
  color: #fff;
  text-align: center;
  
}

.stastics th {
  width: 50px;
}

tr:nth-child(even) {background: #f3f3f3;border-bottom: 1px solid #d4d4d4}
tr:nth-child(odd) {
  background: #fdfdfd;
  border-bottom: 1px solid #d4d4d4;
}
.outstationConatiner{
  padding: 10px 10px 0 0;
  margin-top: 40px;
}
.padding-left5{
  padding-left:5px;
}

.airportPickup th {
  width: 110px;
}
.outStationPickUp th {
  width: 110px;
}
.cityPickUp th{
  width: 90px;
}


.cust-request .fieldContainer{
  margin: 0px 5px 0px 5px;
}

.modalClass.disposition-booking-container .modal-dialog{
  width: 420px !important;
}
.tariffVehicles{
  margin-left: 10px;
}
.singleTariffContainer{
  padding :10px;
}
.tariffDetailsContainer{
  padding-left : 10px;
}
.tariffFieldContainer{
  padding: 0px 10px 0px 0px;
}
.tariffDetailsContainer {
  .displayTextWrapper {
    width: 360px;
    word-wrap: break-word;
    .left-column {
      float: left;
      margin-right: 20px;
      width: 155px;
    }
    .right-column {
      float: left;
      width: 155px;
    }
  }
}
.tariffFieldContainer span{
  background: #ccc;
  padding: 0px 5px;
  width: 100%;
  display: block;
  margin: 5px 0px;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
}
.margin-right50 {
  margin-right: 50px !important;
}
.margin-top10 {
  margin-top: 10px !important;
}

.modalClass.vehicle-availability .modal-dialog {
  width: 1085px !important;
}

.booking-types-fieldset .labelCompact{
  width: 139px;
}

.maskVehicleReserve {
  position: absolute;
  height: 335px;
  border: 0px solid red;
  z-index: 3;
  background: #ccc;
  opacity: 0.5;
  width: 462px;
}

.myHoverClass:active{
  background: green !important;
}
.myHoverClass:hover{
  background: #000 !important;
  color: #FFF !important;
  cursor: pointer;
}
.myTariffSelected{
  background: #F5F5B1 !important;
  cursor: pointer;
}

.mainBookingHistoryGrid .ngHeaderText{
  font-size: 11px !important;
}
.mainBookingHistoryGrid .ngCellText span{
  font-size: 11px !important;
}

.text-right {
  text-align: right !important;
}

.breakTmCenterCtnr {
  position: absolute;
  top: 0;
  left: 42%;
  z-index: 4;
  text-align: center;
  background: #FFF;
}
.fullScreenBlock {
  position: fixed;
  top:0;
  left:0px;
   width:100%;
   height:100%;
   background-color: #ccc;
   opacity: 0.6;
   z-index:3;
}