fieldset.dispatchFormController {
	width: 429px;
}
.dispatch-dashboard-view {
	.row, .no-margin {
		margin: 0;
	}
	.no-padding {
		padding: 0;
	}
}
.modalClass.booking-close-modal .modal-dialog {
	width: 670px !important;
	.fieldContainer {
		&.fieldContainer-lg {
			width: 300px;
			.labelCompact {
				width: 100px;
			}
			select {
				width: 65%;
			}
		}
		width: 200px;
		.labelCompact {
			width: 100px;
		}
	}
}