$icon-font-path: "./../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'signin';
@import 'dispatch';
@import 'controlView';
@import 'dashboard';
@import 'bookingStatistics';
@import 'angucomplete';
$gray_color_dark: #403F41;
$gray_dark_border: 1px solid $gray_color_dark;
$white_color: #ffffff;/*white background*/
$black_color: #231F20; //Black color
$red_color: #EC2128; //Red Color
$light_gray_color: #D6D4D5;
$gray_color9: #D4D6D7; 
$light_gray_border: 1px solid $light_gray_color;
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 0px;
    /*user-select: none;*/
}
::selection {color:orange;background:transparent;}
::-moz-selection {color:orange;background:transparent;}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
.pac-container{
  z-index: 1051 !important;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Modifying the container default styles*/
.container{
  min-width: 1280px !important;
  padding-left:5px !important;
  padding-right:5px !important;
}
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* clearing Element*/
.clear{
    clear: both;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.login-logo{
    background : url("../images/login.png");
    background-size: 100%;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.product-logo{
    background : url("../images/product-logo.png");
    background-size: 100%;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.login-notice{
    text-align: justify;
    margin: 40px 0px; 
}

.modal {
    display: block;
    height: 0;
    overflow: visible;
}
.modal-backdrop {
    opacity : 0.5;
}

.modal-footer {
  margin-top: 0px;
  padding: 10px 10px 10px 0px;
}

/* Grid */
.largeGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 700px; 
    height: 300px;
}
.splitGrid {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 300px;
}

.smallGrid{
  width:500px;
}
.largeGrid{
  width:950px;
}
.mainWrapper{
    padding: 0px 25px;
}

.navHeader{
  background-color:#e7e7e7;
  overflow: hidden;
  .navLabel{
    font-size: 17.76px;
    margin: 15px;
  }
}
.operationsHeader {
    cursor: pointer;
    border-bottom: 1px solid;
    border-top: 1px solid
}
.left {
    float: left;
}

.right{
    float:right;
} 

.icons {
    margin: 10px 10px 5px;
    cursor: pointer;
}

.searchInput{
  border:solid 1px transparent;
  outline: solid 0px  transparent;
}

.searchResults{       
  line-height: 1;
  margin: 12px 30px 8px;
} 
.navbar {
    margin-bottom: 0px;  
} 
.navHeader {
    font-family: sans-serif;
    font-weight: bold;
}
.modalClass{
    @extend .modal;
  width:auto !important;
  margin: 0px auto;
  /* Commented as it was going onto top when console is open */
  /*position: absolute !important;*/
  border-radius:0 !important;
  border: $gray_dark_border;
  z-index: 1050 !important;
  // max-height: 500px !important;
  .modal-body{
    /* min-height: 300px !important; */
  }
  .modal-header{
  padding: 5px;
  border-bottom: 1px solid #E5E5E5;
  font-size: 12px;
  }
  .modal-title{
    font-size: 14px;
    font-weight: bold;
  }
  .modal-dialog{

    width:1024px !important;
  }
}
.smallModalClass{
    @extend .modal;
  width:75% !important;
  margin: 0px auto;
  position: absolute !important;
  border-radius:0 !important;
  border: $gray_dark_border;
  z-index: 1050 !important;
  // max-height: 500px !important;
  .modal-body{
    min-height: 400px !important;
  }
  .modal-header{
  }
  .modal-dialog{
  
    width:400px !important;
  }
}
.fieldContainer{
  /* margin-right: 20px;
  margin-top: 10px; */
  height:25px;
}
.large { 
  height: 33px !important;
  width: 240px 
}
.loginLogo{
  background: url(../images/Sigma_cabs_in_hyderabad_logo.png) no-repeat;
  width: 187px;
  height: 75px;  
}

.tabs{
  margin: 0;
  width: 100%;
  border-bottom: 1px solid black;
  .tabHeader{
    padding: 8px 30px 0px 0px;
    overflow:hidden;
    .tab{
      cursor: pointer;
      text-align: center;
      margin-right:15px;
      line-height: 15px;
      min-width: 140px;
      padding: 10px;
      color: $white_color;
      background: #403F41;
      &.selected {
        background: $red_color;
      }
    }
  }
}

.fullGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 950px; 
    height: 300px;
    margin-top: -20px;
}
.active {
  background: #FFF;
}
.inactive {
  background: #403F41;
}
.smallGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 65%; 
    height: 300px;
}
.paddingLeft {
  padding-left :10px;
}
.gridHeading{
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
}
.smallModalLabel {
  width:200px;
}

.dispathContainer{
  width:100%
}

.dispathButton{
  margin-top:8px;
}
.ngRow{
  &:hover{
    background-color: #c9dde1;
  }  
}
//Add employee form-start
.slide-frame{
  .tabContainer{
    //border-bottom: 1px solid #403F41;
    .personalInfoTab{
      .divEmpAppAccess{
        width: 974px;
        border-bottom: 1px solid $gray_color9;
        padding: 10px 10px 13px 0px;
        margin-bottom: 10px;
        .appAccessContainer{
          width: 628px;
          padding-right: 15px;
          .divAccessOneTop{ 
            .askAppAccess{
              font-family: "hiltisb";
              margin: 0 35px 0px 0;
              display: inline-block;
            }
            input[type=radio]{
              margin: 0 2px 0 15px;
            }
          }
          .divAccessOneBtm{
            margin-top: 10px;
            .domainName {
              position: absolute;
              top: 10px;
              left: 258px;
            }
          }
        }
        .appAccessMsg{
          text-align: justify;
          padding: 10px 20px;
          font-size:13.32px;
          width: 290px;
          border-left: 1px solid #000;
        }
      }
      .divEmpPersDetails{
        position: relative;
        .divPersDetOne{
          width: 850px;
          .fieldContainer{
            margin-right: 20px;
          }

        }
        .divPersDetTwo{
          
        }
        .empImageContainer{
          width: 170px;
          position: absolute;
          top: 17px;
          right: 5px;
          border: $light_gray_border;
          height: 202px;
          .empImageIcon{  
            /*@extend .icons-Employee_dailogbox;*/
            width: 170px;
            height: 203px;
          }
        }
      }
      .divEmpAddress{
        margin-top: 5px;
        padding-top: 20px;
       .fieldContainer{
          margin-right: 20px;
        }
      }
      padding: 10px 20px 0;
    } 
   .certificateFormContainer{
    min-height: 400px;
    margin: 20px;
    .certifiacteHeading{
      font-family: "hiltisb";
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }    
    .certificateContainer{
      margin: 10px 0;
      .selectCertificate{
      .grayBtn{
              margin-left: 10px;
            }
        select{
          margin:0;
          height: 36px;
        }
      }
      .certificateAccordian{
        margin: 10px 0;
        .accordianClass{
          .accordion{
            .accordion-group{
              border: 1px solid #ccc;
              .accordion-heading{
                background: #D8D8D8;
                .accordion-toggle{
                  color: $black_color;
                  font-family: "hiltisb";
                }
              }
              .accordion-body{
                .accordion-inner{
                  .infoContainer{
                    margin-bottom: 10px;
                    word-break:break-all;
                    .editDelete{
                      .icons{
                        margin-left: 10px;
                        cursor: pointer;
                      }
                    }
                    p{
                      &.heading{
                        font-weight: bold;
                        font-size: 12px;
                        padding: 0;
                        margin-bottom: 2px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }    
    .certificateForm{
      border: 1px solid #ccc;
      margin-top: 10px;
      .certificateTypeHeader{
        background: #D8D8D8;
        padding: 10px;
      }
      .formControlls{
        padding: 10px;
      }
      .btnContainer{
        padding: 10px;
        background: #F2F2F2;
      }
    }
  }
  }
}
//Add employee form-end
//Delete employee modal-start
.deleteEmployeeHolder{
  /* .successDiv{
    margin-bottom: 10px;
  } */
  .failureDiv{
    padding: 15px; 
    .grid{
      background: transparent;
      height: 200px;
    }
    .marginTop{
      margin-top: 10px;
    }
  }
}
//Delete employee modal-end

.relative{
  position: relative;
}

.navIconsContainer, .margin-right10 {
  margin-right: 10px;
}

.margin-bottom5 {
  margin-bottom: 5px;
}


/* Roles CSS Begin*/
.roles-modal-body{
  padding-top: 10px;
  .rolesRegForm{
    margin: 20px;
  }
}
.assignRoleContainer{
  margin: 20px;
  .rolesDiv {
    width: 268px;
  }
  .accessPrevilegesDiv {
    width: 714px;
  }
  .mainRolesDiv{ 
    border: $light_gray_border;
  }
}
/* Roles CSS End*/

@import 'searchBox';

@import 'userAddUpdate';
@import 'vehicleAddUpdate';

@import 'booking';
@import 'cancelBooking';
@import 'datePicker';

@import 'reports';



/*screen fit*/

/*@media (min-width: 1200px) {
  .container {
    width: 1170px;
    width: 100%;
  }
}*/
/*.container {
  width: 1280px !important;
  overflow: auto;
}*/

.textFieldCompact {
  -webkit-appearance: none;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFF;
  background-origin: padding-box;
  background-size: auto;
  border: 1px solid #B5B8C8;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  color: #000;
  cursor: auto;
  display: inline-block;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 11px;
  height: 20px;
  letter-spacing: normal;
  line-height: normal;
  margin: 0px;
  padding: 1px 3px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  visibility: visible;
  width: 100px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  box-shadow: 0px 1px 3px 0px #CCC inset;
  zoom: 1;
}

.selectFieldCompact {
  background-color: #FFF;
  color: #000;
  cursor: auto;
  display: inline-block;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 20px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  visibility: visible;
  width: 100px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  box-shadow: 0px 1px 3px 0px #CCC inset;
  zoom: 1;
  border: 1px solid #999;
}

.textFieldCompact[disabled],
.textFieldCompact[readonly],
textFieldCompact[disabled] .textFieldCompact {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.labelCompact {
  clear: left;
  cursor: default;
  display: block;
  float: left;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 20px;
  line-height: normal;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 3px;
  position: relative;
  text-align: left;
  visibility: visible;
  width: 80px;
  z-index: 2;
  zoom: 1;
  font-weight: bold;
  margin-bottom:0px;
}
.requiredField {
  &:after {
    color: red;
    content: "*";
    float: right;
  }
}
.clearBoth{
  clear: both;
}

.smsCheckbox{
  margin-left: 17px !important;
}
.smsText{
  display: inline-block;
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 13px;
}

.buttonSpliter {
  border-top: 1px solid #999; 
  margin:4px 0px;
  clear: both;
}

.mainButtonContainer {
  margin-top: 9px;
  margin-bottom: 3px;
  height: 25px;
}


.btnCompact {
  border-radius: 5px;
  font-size: 11px;
  margin: -1px 7px;
}

.fieldExpand {
  position: absolute;
  width: 333px;
  z-index: 4;
}
.fieldExpandLeft {
  position: absolute;
  width: 262px;
  z-index: 1;
  left: -185px;
}
.altPhoneBgContainer {
  position: absolute;
  width: 230px;
  height: 51px;
  border: 0px solid #F00;
  background: #999;
  margin-left: -3px;
  margin-top: -3px;
}

.absoluteFieldContainer{
  position: absolute;
}

.historyBarContainer{
  width:100%;
  height: 24px;
  background:#99BBE8;
  margin-bottom: 5px;
}
.historyBarContainer .historyBarItem{
  width: 20%;
  margin: 4px 0px 0px 0px;
  text-align: center;
}
.historyBarLabel{
  font-weight: bold;  
  color: #000;
  margin-right: 5px;
}
.historyBarValue{
  font-weight: bold;
  color: #15428B;
}
.viewAllHistoryLink{
  cursor:pointer;  
  text-decoration: none;
  color: #00F;
}
.viewAllHistoryLink:hover{
  text-decoration: underline;
}

.height28{
  heigth:28px;
}

.modal-body{
  padding: 0px 8px 8px 8px;
}

.modalClass .modal-header{
  background: #99BBE8;
  border-radius: 4px 4px 0px 0px;
}

.modalClass .modal-body {
  height: auto;
}

.dp-popup{
  z-index : 1050 !important;
}
.ellipsisText {
  display: inline-block;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
}
.info-message-text-middle {
  font-weight: bold;
  margin: 70px auto 0;
  text-align: center;
}
.call-icon {
  cursor: pointer;
  float: left;
  height: 14px;
  width: 20px;
  overflow: hidden;
  transition: all 0.1s ease-out;
  &:hover {
    width: 40px;
    .glyphicon {
      color: lime !important;
    }
  }
  .glyphicon {
    color: #333;
    margin-left: 3px;
    transform: rotate(260deg);
  }
}
.currentMonthData {
  float: left;
  font-size: 12px;
  height: 185px;
  margin-right: 7px;
  width:50%;
  .header-display {
    /*margin-bottom: 5px;*/
    span {
      &.ellipsisText {
        width: 80px;
      }
      float: left;
      margin-right: 5px;
    }
  }
}
/*.chatFormDiv {
  float: left;
  fieldset {
    min-height: 212px;
    min-width: 294px;
  }
}*/
.vehicleHistory {
  height:215px;
  .fieldContainer {
    width: 300px;
    .labelCompact {
      width: 110px;
    }
    .ellipsisText {
      width: 180px;
    }
  }
}
.flex-height {
  height: 100%;
}
.chatContainer {
  float: left;
  height: 212px;
  margin-left: 7px;
  .chatMsgContainer{
    background: #FFF;
    width: 100%;
    height: 95px;
    clear: both;
    border: 1px solid #B5B8C8;
    margin-bottom: 9px;
    overflow: auto;
  }
  .chatMsgText{
    margin: -7px 0px 0px 0px;
    height: 33px;
    font-size: 11px;
    width: 162px;
    border: 1px solid #B5B8C8;
    resize: none;
  }
}	

.vTop {
  vertical-align: top;
}

.bookingCountInFilter {
  border:1px solid #999;
  height: 20px;
  color: #000;
  text-align: center;
}

.autoWidth {
  width: 100%;
}

#dispatcherBookingsListGrid .ngCellText span {
  cursor: pointer !important;
}

.ngGrid input {
  vertical-align: middle;
  margin-top: 2px;
}
/* Parent class should be position relative to work properly */
.wipOverlay {
  background-color: #ccc;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.wipOverlay:after {
  content: "WIP...";
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 35%;
}

.forceLeftAlign {
  text-align: left !important;
}