.user-add-update-container .large{
  width: 215px;
}
.user-add-update-container label{
  margin-bottom: 2px;
}
.user-add-update-container .fieldContainer{
  margin-top: 15px;
  height: 65px;
}
.user-add-update-container .userPerformanceTab .fieldContainer{
  margin-top: 10px;
  height: 50px;
}
.user-add-update-container .userPerformanceTab legend.searchbox-border{
  margin: 0px;
}
.user-add-update-container .tabs .tabHeader .tab{
  padding: 8px 5px 8px 5px;
}
.user-add-update-container .supportTabGridContainer{
	border:1px solid black; 
	float: left;
	clear: left;
  margin-top: 10px;
  width: 952px;
}
.user-add-update-container .supportTabGrid{
  height: 150px;
}
.user-add-update-container .user-addupdate-addresses-fieldset {
  
}
.user-add-update-container .user-addupdate-addresses-fieldset .large{
  width: 150px;
}


.user-add-update-container .user-addupdate-addresses-fieldset legend.searchbox-border{
  margin: 0px;
}
.user-add-update-container .user-addupdate-addresses-fieldset .fieldContainer {
  margin-top: 0px;
}

.personalDetailsContainer .fieldContainer{
  height: 50px;
}
.personalDetailsContainer fieldset .fieldContainer{
  height: 65px;
}
.personalDetailsContainer fieldset{
  margin-bottom: 15px;
}