.vehicle-add-update-container .large{
  width: 215px;
}
.vehicle-add-update-container label{
  margin-bottom: 2px;
}
.vehicle-add-update-container .fieldContainer{
  margin-top: 15px;
  height: 50px;
}
.vehicle-add-update-container .vehiclePerformanceTab .fieldContainer{
  margin-top: 10px;
  height: 60px;
}
.vehicle-add-update-container .vehiclePerformanceTab legend.searchbox-border{
  margin: 0px;
}
.vehicle-add-update-container .tabs .tabHeader .tab{
  padding: 8px 5px 8px 5px;
}
.vehicle-add-update-container .supportTabGridContainer{
	border:1px solid black; 
	float: left;
	clear: left;
  margin-top: 10px;
  width: 952px;
}
.vehicle-add-update-container .supportTabGrid{
  height: 150px;
}
.vehicleBasicDetails .fieldContainer{
  margin: 10px !important; 
}