<fieldset class="" data-ng-controller="bookingTariffGrid" style="clear:both;margin-left: 7px;height:212px;">
    <legend class="searchbox-border">Caller Specifications</legend>

    <div style="width:100%;padding-bottom: 5px;margin-bottom: 5px;">
        <div class="fieldContainer relative left" style="width:135px;">
            <label class="labelCompact" title="Grade:">Grade:</label>
            <span>{{ headCustomerGrade }}</span>
        </div>
        <div class="fieldContainer relative left" style="width:135px;">
            <label class="labelCompact" title="Category:">Category:</label>
            <span>{{ headCustomerCategory }}</span>
        </div>
        <div class="fieldContainer relative left" style="width:135px;">
            <label class="labelCompact" title="Discount:">Discount:</label>
            <span>{{ headCustomerDiscount }}</span>
        </div>
        <div class="fieldContainer relative left" style="width:135px;">
            <label class="labelCompact" title="Trip Count">Trip Count:</label>
            <span>{{ headCustomerTripCount }}</span>
        </div>
        <p class="clear"/>
    </div>


</fieldset>