<div class = "clearfix" ng-controller = "chkTariffController">
    <div class="left">
        
        <legend class="searchbox-border">City Pickup</legend>
          <div style="height:163px; width:550px;" id="customerBookingGridID" class = "bookingHistoryGrid">
            <div class="gridStyle" ng-grid="gridCityPkgOptions" style="height:100%;margin:0px;"></div>
        </div>
    </div>
     
  

   <div class="right">
        <div>
        <legend class="searchbox-border">Airport Pickup</legend> 
            <table class= "bookingsTable airportPickup">
                <tr>
                    <th>Duration</th>
                    <th>Tariff Kms</th>
                    <th>Indica/Vista</th>
                    <th>Verito/Indigo</th>
                    <th>Tavera/Xylo</th>
                    <th>Innova</th>
                </tr>

            <tr ng-repeat = "tariff in airportTariffData">                            
                <td ng-repeat = "price in tariff"> {{price}}</td>                
            </tr>
            </table> 
         </div>
          <div class = "outstationConatiner">
            <legend class="searchbox-border">Outstation Pickup</legend> 
            <table class = "bookingsTable outStationPickUp">
                <tr>
                    <th>Duration</th>
                    <th>Tariff Kms</th>
                    <th>Indica/Vista</th>
                    <th>Verito/Indigo</th>
                    <th>Tavera/Xylo</th>
                    <th>Innova</th>
                </tr>

            <tr ng-repeat = "tariff in airportTariffData">                            
                <td ng-repeat = "price in tariff"> {{price}}</td>                
            </tr>
            </table> 
        </div>
            
    </div> 
</div>