<div class="modal-dialog disposition-booking-container">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Customer Request</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span  class="innerLabel">Caller Name: </span>
                <span>{{ customerDetails.name }}</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.: </span>
                <span>{{ customerDetails.mobile }}</span>
            </div>
        </div>
        <div class="modal-body" > 
            <fieldset class="left">
                <legend class="searchbox-border">Customer Request</legend>

                <div class="customer-booking-tabs">
                    <ul class="nav nav-tabs">
                        <li data-ng-class="{ active: fnIsActive(1)}" data-ng-click="tab = 1;fnChangeSaveText();"><a>Complaints</a>
                        </li>
                        <li data-ng-class="{ active: fnIsActive(2)}" data-ng-click="tab = 2;fnChangeSaveText();"><a>Suggestions</a>
                        </li>
                        <li data-ng-class="{ active: fnIsActive(3)}" data-ng-click="tab = 3;fnChangeSaveText();"><a>Feedback</a>
                        </li>
                        <li data-ng-class="{ active: fnIsActive(4)}" data-ng-click="tab = 4;fnChangeSaveText();"><a>Ratings</a>
                        </li>
                    </ul>

                    <div class="tab-body cust-request" data-ng-show="tab==1">
                        <div class="fieldContainer relative">
                            <label class="labelCompact">Category By</label>
                             <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="feedback.categoryId" data-ng-options="obj.id as obj.categoryName for obj in vehicleCategoryTypes"></select>
                        </div>
                        <div class="fieldContainer relative">
                            <label class="labelCompact">Reason</label><!--  ng-model="" -->
                            <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="feedback.reasonId" data-ng-options="obj.id as obj.description for obj in vehicleComplaintReasonTypes"></select>
                        </div>
                        <div class="fieldContainer relative">
                            <label class="labelCompact">Priority</label>
                            <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="feedback.priorityId" ng-options="k as v for (k,v) in vehiclePriorities"></select>
                        </div>
                        <div class="fieldContainer relative" style="height:75px;">
                            <label class="labelCompact">Comments</label>
                            <textarea data-ng-model="feedback.comments" class=""></textarea>
                        </div>
                        <p class="clear"/>
                    </div>

                    <div class="tab-body cust-request" data-ng-show="tab==2">
                        <div class="fieldContainer relative">
                            <label class="labelCompact">Category By</label>
                            <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="suggestions.categoryId" data-ng-options="obj.id as obj.categoryName for obj in vehicleCategoryTypes"></select>
                        </div>
                        <div class="fieldContainer relative">
                            <label class="labelCompact">Reason</label><!--  ng-model="" -->
                            <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="suggestions.reasonId" data-ng-options="obj.id as obj.description for obj in vehicleSuggestionReasonTypes"></select>
                        </div>
                        <div class="fieldContainer relative">
                            <label class="labelCompact">Priority</label>
                            <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="suggestions.priorityId" ng-options="k as v for (k,v) in vehiclePriorities"></select>
                        </div>
                        <div class="fieldContainer relative" style="height:75px;">
                            <label class="labelCompact">Comments</label>
                            <textarea data-ng-model="suggestions.comments" class=""></textarea>
                        </div>
                        <p class="clear"/>
                    </div>

                    <div class="tab-body cust-request" data-ng-show="tab==3">
                        Display information from API...
                    </div>

                    <div class="tab-body" data-ng-show="tab==4">
                        Display information from API...
                    </div>
                </div>
            </fieldset>
            <p class="clear" />
        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndCloseRequest()">{{ saveText }}</button>
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>
