<div class="modal-dialog add-request">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Caller Request</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span class="innerLabel">Caller Name:</span>
                <span>{{ customerName }}</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.:</span>
                <span>{{ customerMobile }}</span>
            </div>
        </div>
        <div class="modal-body">
            <fieldset>
                <legend class="searchbox-border">Caller Request</legend>

                <div class="fieldContainer  relative">
                    <label class="labelCompact">Priority</label>
                    <select class=" validate[maxSize[36]] selectFieldCompact" ng-model="iPriority" ng-options="k as v for (k,v) in priorities"></select>
                </div>

                <div class="customer-booking-tabs">
                    <ul class="nav nav-tabs">
                        <li data-ng-class="{ active: fnIsActive(1)}" data-ng-click="tab = 1;fnChangeSaveText();"><a>Regular Booking</a>
                        </li>
                        <li data-ng-class="{ active: fnIsActive(2)}" data-ng-click="tab = 2;fnChangeSaveText();"><a>Corporate Enquiry</a>
                        </li>
                        <li data-ng-class="{ active: fnIsActive(3)}" data-ng-click="tab = 3;fnChangeSaveText();"><a>Special Request</a>
                        </li>
                        <li data-ng-class="{ active: fnIsActive(4)}" data-ng-click="tab = 4;fnChangeSaveText();"><a>Others</a>
                        </li>
                    </ul>

                    <div class="tab-body cust-request" data-ng-show="tab==1">
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Customized Date</label>
                            <input datepicker multidate="true" multidate-model="dateDetails.multiDates" data-ng-model="tmpMultiDates" type="text"class="left validate[required,maxSize[128]] textFieldCompact" dpMinDate="dpCurrentDate" />
                        </div>
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Time</label>
                            <select class=" validate[maxSize[36]] selectFieldCompact" data-ng-model="regularRequestDetails.pickupHours" ng-options='k as v for (k,v) in hours' style="width:48px;"></select>
                            <select class=" validate[maxSize[36]] selectFieldCompact"  data-ng-model="regularRequestDetails.pickupMinutes" ng-options='k as v for (k,v) in minutes' style="width:48px;"></select>
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Pickup</label>
                            <input googleplace data-ng-model="regularRequestDetails.pickupPlace" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Drop</label>
                            <input googleplace data-ng-model="regularRequestDetails.dropPlace" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">No. of Days</label>
                            <input data-ng-model="regularRequestDetails.totalDays" type="text"class="left validate[required,maxSize[128]] textFieldCompact" number-only/>
                        </div>
                        <div class="fieldContainer  relative clearBoth" style="width: 100%; height:75px;">
                            <label class="labelCompact">Comment</label>
                            <textarea data-ng-model="regularRequestDetails.comments" class="cancelBookingComment" style="width:289px;"></textarea>
                        </div>
                        <p class="clear"/>
                    </div>


                    <div class="tab-body cust-request" data-ng-show="tab==2">
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Company Name</label>
                            <input data-ng-model="corporateRequestDetails.companyName" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Email</label>
                            <input data-ng-model="corporateRequestDetails.email" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Website</label>
                            <input data-ng-model="corporateRequestDetails.website" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Contact Person</label>
                            <input data-ng-model="corporateRequestDetails.contactPerson" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Contact No.1</label>
                            <input data-ng-model="corporateRequestDetails.contact1" phone type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Contact No.2</label>
                            <input data-ng-model="corporateRequestDetails.contact2" phone type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative  ">
                            <label class="labelCompact">Company Address</label>
                            <input data-ng-model="corporateRequestDetails.companyAddress" style="width: 289px;" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer  relative clearBoth" style="width: 100%; height:75px;">
                            <label class="labelCompact">Comment</label>
                            <textarea data-ng-model="corporateRequestDetails.comments" class="cancelBookingComment" style="width:289px;"></textarea>
                        </div>
                        <p class="clear"/>
                    </div>


                    <div class="tab-body cust-request" data-ng-show="tab==3">
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Travel Type</label>
                             <!-- <select data-ng-model="specialRequestDetails.travelType" class=" validate[maxSize[36]] selectFieldCompact"  ng-options="obj.id as obj.travelType for obj in travelTypes"></select> -->
                             <input data-ng-model="specialRequestDetails.travelType" style="width: 289px;" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Contact Person</label>
                            <input data-ng-model="specialRequestDetails.contactPerson" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Contact No.1</label>
                            <input data-ng-model="specialRequestDetails.contact1" phone type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Contact No.2</label>
                            <input data-ng-model="specialRequestDetails.contact2" phone type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer left relative">
                            <label class="labelCompact">Address</label>
                            <input data-ng-model="specialRequestDetails.address" type="text"class="left validate[required,maxSize[128]] textFieldCompact" />
                        </div>
                        <div class="fieldContainer  relative clearBoth" style="width: 100%; height:75px;">
                            <label class="labelCompact">Comment</label>
                            <textarea data-ng-model="specialRequestDetails.comments" class="cancelBookingComment" style="width:289px;"></textarea>
                        </div>
                        <p class="clear"/>
                    </div>


                    <div class="tab-body" data-ng-show="tab==4">
                        <div class="fieldContainer  relative clearBoth" style="width: 100%; height:75px;">
                            <label class="labelCompact">Comment</label>
                            <textarea data-ng-model="specialRequestDetails.comments" class="cancelBookingComment" style="width:289px;"></textarea>
                        </div>
                        <p class="clear"/>
                    </div>



                </div>

            </fieldset>
            <p class="clear" />

        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndCloseRequest()">{{ saveText }}</button>
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>
