<fieldset class="searchbox-border customerDetailsContainer left">
    <legend class="searchbox-border">Customer Details <span>{{ callerInfo }}</span></legend>
    <div class="relative">      

        <div class="fieldContainer clearBoth relative clearBoth">
            <label class="labelCompact">Caller Name </label>
            <input type="text" ng-model="customerDetails.name" class="left validate[required,maxSize[128]] textFieldCompact" ng-blur="fnCustomerDetailsBlured()" />
            <span class="smsText">SMS</span>
        </div>
        <div class="fieldContainer clearBoth relative clearBoth">
            <label class="labelCompact">Caller Ph. </label>
            <input type="text" ng-model="callerPhone" class="left validate[required,maxSize[128]] textFieldCompact" readonly />
            <input checked class="left smsCheckbox" type="checkbox" value="">
        </div>
        <div class="fieldContainer clearBoth relative ">
            <label class="labelCompact">Caller Ph.2</label>
            <input type="text" phone ng-model="customerDetails.altMobile"  ng-blur="fnCustomerDetailsBlured()" class="left validate[required,maxSize[128]] textFieldCompact"/>
            <input class="left smsCheckbox" type="checkbox" value="">
        </div>

        <div class="fieldContainer clearBoth relative clearBoth">
            <label class="labelCompact">Search </label>
            <input type="text" phone style="width: 70px;" ng-model="searchDetails.searchString" class="textFieldCompact"  />
            <button class="btnCompact btn-success" data-ng-click="fnSearchCustomer();" style="width: 30px;margin: 0px 0px 0px 5px;">Go</button>            
            <input class="smsCheckbox" type="checkbox" style="margin: 0px 0px 0px 4px !important;" value="">
        </div>

        <div class="fieldContainer clearBoth relative" >
            <label class="labelCompact">Cust. Name</label>
            <input type="text" ng-model="searchedCustomerDetails.name"  ng-blur="fnSearchedCustomerDetailsBlured()" style="position:absolute;" class="validate[required,maxSize[128]] textFieldCompact" />
        </div>
        <div class="fieldContainer clearBoth relative ">
            <label class="labelCompact">Cust. Ph.2</label>
            <input type="text" phone ng-model="searchedCustomerDetails.altMobile" ng-blur="fnSearchedCustomerDetailsBlured()" class="left validate[required,maxSize[128]] textFieldCompact" />
            <input class="left smsCheckbox" type="checkbox" value="">
        </div>

        <hr class="buttonSpliter" />
        <div class="clearBoth relative mainButtonContainer">
            <button class="left btnCompact btn-success" data-ng-click="fnBlockCustomer();">Block Caller</button>
            <button class="right btnCompact btn-success" data-ng-click="fnOpenCustomerRequest();">Add Request</button>
        </div>
        <p class="clear" />
    </div>
</fieldset>
<p class="clear"/>
