<fieldset class="searchbox-border customerDetailsContainer left">
    <legend class="searchbox-border">Customer Details <span>{{ callerInfo }}</span></legend>
    <div class="relative">
        <div class="fieldContainer clearBoth relative clearBoth">
            <label class="labelCompact">Search </label>
            <input type="text" ng-model="searchDetails.searchString" class="textFieldCompact"  />
            <button class="btnCompact btn-success" data-ng-click="fnSearchCustomer();" style="width: 30px;margin: 0px 0px 0px 5px;">Go</button>
        </div>
        <div class="fieldContainer clearBoth relative clearBoth">
            <label class="labelCompact">Caller Name </label>
            <input type="text" ng-model="customerDetails.name" class="left validate[required,maxSize[128]] textFieldCompact"  />
            <span class="smsText">SMS</span>
        </div>
        <div class="fieldContainer clearBoth relative clearBoth">
            <label class="labelCompact">Caller Ph. </label>
            <input type="text" ng-model="callerPhone" class="left validate[required,maxSize[128]] textFieldCompact" readonly />
            <input checked class="left smsCheckbox" type="checkbox" value="">
        </div>
        <div class="fieldContainer clearBoth relative ">
            <label class="labelCompact">Alt. Ph.</label>
            <input type="text" ng-model="customerDetails.mobile" class="left validate[required,maxSize[128]] textFieldCompact"/>
            <input class="left smsCheckbox" type="checkbox" value="">
        </div>
        <div class="fieldContainer clearBoth relative ">
            <label class="labelCompact">Pas. Ph.</label>
            <input type="text" ng-model="bookingDetails.primaryMobile" class="left validate[required,maxSize[128]] textFieldCompact" />
            <input class="left smsCheckbox" type="checkbox" value="">
        </div>
        <div class="fieldContainer clearBoth relative" >
            <label class="labelCompact">Pas. Name</label>
            <input type="text" ng-model="bookingDetails.primaryPassanger" style="position:absolute;" class="validate[required,maxSize[128]] textFieldCompact" />
        </div>
        <hr class="buttonSpliter" />
        <div class="clearBoth relative mainButtonContainer">
            <button class="left btnCompact btn-success" data-ng-click="fnBlockCustomer();">Block Caller</button>
            <button class="right btnCompact btn-success" data-ng-click="fnOpenCustomerRequest();">Add Request</button>
        </div>
        <p class="clear" />
    </div>
</fieldset>
<p class="clear"/>
