<div class="modal-dialog user-add-update-container">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Tariff</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span  class="innerLabel">Caller Name: </span>
                <span>{{ customerDetails.name }}</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.: </span>
                <span>{{ customerDetails.mobile }}</span>
            </div>
        </div>
        <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
         <div data-ng-include="checkTariff"></div>
         <div class="clearfix">
            <div class="left">
              <fieldset class="left">
                <legend class="searchbox-border">{{ selectedJourneyType.journeyType }} Journey ({{ selectedSubJourneyType.journeyType }})</legend>
                <div style="height:400px; width:550px;" id="customerBookingGridID" class = "bookingHistoryGrid">
                  <div class="gridStyle" ng-grid="gridCityPkgOptions" style="height:395px;margin:0px;"></div>
                </div>
               </fieldset>
            </div>
            <div class="left tariffDetailsContainer">
            <fieldset class="left">
                <legend class="searchbox-border">Tariff Information</legend>
                    <div class="displayTextWrapper">
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.vehicleType"></span>
                        </div>
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.vehicleName"></span>
                        </div>
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.journeyTypeName"></span>
                        </div>
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.subJourneyTypeName"></span>
                        </div>
                        <p class="clear"/>
                    <div>
                    <div class="tariffFieldContainer">
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.pickupPlace"></span>
                        </div>
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.dropPlace"></span>
                        </div>
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.pickupDate"></span>
                        </div>
                        <div class="tariffFieldContainer left">
                            <span class = "" data-ng-bind="roData.pickupTime"></span>
                        </div>
                        <p class="clear"/>
                    </div>

                    <div class="tariffFieldContainer margin-top10">
                        <div class="left-column">
                            <label class="labelCompact" title="Package Duration">Pkg. Duration</label>
                            <div class ="left" data-ng-bind="roData.duration"></div>
                        </div>
                        <div class="right-column">
                            <label class="labelCompact" title="Package KM">Pkg. KM</label>
                            <div class ="left" data-ng-bind="roData.km"></div>
                        </div>
                        <p class="clear"/>
                        <div class="left-column">
                            <label class="labelCompact" title="Package Amount">Pkg. Amount</label>
                            <div class ="left" data-ng-bind="roData.amount"></div>
                        </div>
                        <div class="right-column">
                            <label class="labelCompact" title="Extra KM charge">Ext. KM Chrg.</label>
                            <div class ="left" data-ng-bind="roData.extraKmCharge"></div>
                        </div>
                        <p class="clear"/>
                        <div class="left-column">
                            <label class="labelCompact" title="Grace Time">Grace Time</label>
                            <div class ="left" data-ng-bind="roData.graceTime"></div>
                        </div>
                        <div class="right-column">
                            <label class="labelCompact" title="Extra Charge">Ext. Chrg.</label>
                            <div class ="left" data-ng-bind="roData.extraCharges"></div>
                        </div>
                        <p class="clear"/>
                        <div class="left-column">
                            <label class="labelCompact" title="Extra Hour Charge">Ext. hr Chrg.</label>
                            <div class ="left" data-ng-bind="roData.extraHourCharge"></div>
                        </div>
                        <div class="right-column">
                            <label class="labelCompact">Discount</label>
                            <div class ="left" data-ng-bind="roData.discount"></div>
                        </div>
                        <p class="clear"/>
                        <div class="left-column">
                            <label class="labelCompact">Cust. Grade</label>
                            <div class ="left" data-ng-bind="roData.customerGrade"></div>
                        </div> 
                        <div class="right-column">
                            <label class="labelCompact" title="Cust. Category">Cust. Catg.</label>
                            <div class ="left" data-ng-bind="roData.customerCategory"></div>
                        </div> 
                        <p class="clear" />
                    </div>

                </fieldset>  

                
            </div>
            <div class="left tariffDetailsContainer">
            <fieldset class="left" style="width: 372px;"> 
                    <legend>Comments</legend>                
                    <div class ="left" data-ng-bind="roData.comments"></div>
            </fieldset>
            </div>
         </div>
        </div>
        <div class="modal-footer">            
            <button type="button" class="btn-success btnCompact" ng-click="fnConfirmTariffAndExit()">Confirm</button>
            <button type="button" class="btn-success btnCompact" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>