<fieldset class="" data-ng-controller="bookingHistory" style="clear:both;">
    <legend class="searchbox-border">Booking History</legend>
    <div class="historyBarContainer">
    	<div class="left historyBarItem">
    		<span class="historyBarLabel">Category: </span>
    		<span class="historyBarValue">New</span>
    	</div>
    	<div class="left historyBarItem">
    		<span class="historyBarLabel">Grade: </span>
    		<span class="historyBarValue">Gold</span>
    	</div>
    	<div class="left historyBarItem">
    		<span class="historyBarLabel">Trip Count: </span>
    		<span class="historyBarValue">8888</span>
    	</div>
    	<div class="left historyBarItem">
    		<span class="historyBarLabel">BOD: </span>
    		<span class="historyBarValue">1287</span>
    	</div>
    	<div class="left historyBarItem">
    		<span class="historyBarLabel"><a class="viewAllHistoryLink">View Full History</a></span>
    	</div>
    </div>
    <div style="height:300px;" id="customerBookingGridID">
    	<div class="gridStyle" ng-grid="gridCustomerBookingOptions" style="height:100%;margin:0px;"></div>
    </div>
</fieldset>
