<div>
    <div class="fieldContainer relative left">
        <label class="control-label">Type</label>

        <select class="form-control validate[maxSize[36]] large" ng-model="tmpDentAndScratchDetails.type" ng-options="value.type as value.title for value in dentsAndScraches">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Severity</label>

        <select class="form-control validate[maxSize[36]] large" ng-model="tmpDentAndScratchDetails.severity" ng-options="value.type as value.title for value in dentAndScratchSeverityType">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Add to List</label>
        <input type="button" ng-click="fnAddDentAndScratchToList();" value="{{dentAndScratchAddButon}}" class="large left" />
        <input type="hidden" name="rowIndex" ng-model="tmpDentAndScratchDetails.rowIndex" />
    </div>

    <div class="supportTabGridContainer">
        <div ng-grid="dentsAndScratchesGridOptions" class="supportTabGrid"></div>
    </div>
    <p class="clear" />

</div>
