<div>
	<div id="bookingNav" class="bookingNav historyBarContainer">
		<ul class="bookingNav_ul clearfix">
			<li ng-class="(showDispatchView) ? 'tabSelcted' : ''" ng-click="showDispatchViewTab()">Dispatch</li>
            <li ng-class="(showBookingDetails) ? 'tabSelcted' : ''" ng-click="showBookingDetailsTab()">Booking</li>
            <li  ng-class = "(showControlViewDetails) ? 'tabSelcted' : ''" ng-click="showControlViewTab()">Control View</li>
            <li ng-class="(showMyCallBacks) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">My Callbacks</li>
            <li ng-class="(showMycallHistory) ? 'tabSelcted' : ''" ng-click="showMycallHistoryTab()">My Call History</li>
            <li ng-class="(showTariffDetails) ? 'tabSelcted' : ''" ng-click="showTariffDetailsTab()">Tariff</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Complaints &amp; feedback</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Rating</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Breaks</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Chat</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Follow Ups</li>
		</ul>

	</div>
	<div id="bookingDetails" ng-show="showBookingDetails">
		Booking Details
    </div>
    <div  ng-show="showTariffDetails">
    	Tariff Details
    </div>

    <div ng-class="vehicleAvailContainer">
		<div id="bookingHeader" class="bookingHeader clearfix">
		<div class="fieldContainer left marginRightLeft5 bookingInput">
            <label class="labelCompact">Call Time </label>
            <span class="bokingLabel" data-ng-bind="callTime"></span>
        </div>
        <div class="fieldContainer left marginRightLeft5 bookingInput">
            <label class="labelCompact">Vehicle Id</label>
            <span class="bokingLabel">{{vehicleMainDetails.vehicleCode}}</span>
        </div>

        <div class="fieldContainer left marginRightLeft5 bookingInput">
            <label class="labelCompact" title="Vehicle Type &amp; Name">Type &amp; Name</label>
            <span class="bokingLabel">{{vehicleDetails.vType}} - {{vehicleDetails.vName}}</span>
        </div>
        <div class="fieldContainer left marginRightLeft5 bookingInput">
            <label class="labelCompact" title="Vehicle Start Kms.">Start Kms.</label>
            <span class="bokingLabel">{{vStartKms}}</span>
        </div>
        <div class="callTransfer left marginRightLeft5">
	        <label class="labelCompact">Call Transfer </label>
	        <select class=" validate[maxSize[36]] selectFieldCompact" >
	            <option>Choose</option>
	        </select>
	        <select class=" validate[maxSize[36]] selectFieldCompact" >
	            <option>Choose</option>
	        </select>
	        <button class="btnCompact btn-success">Go</button>			    
        </div>
		</div>
		<div class="soft-msg" data-ng-include="viewLoader"></div>
	    <div class="dashboard-search">
	        <div class="existing-customer-booking" data-ng-include="dispatcherMainView" data-ng-show="showDispatchView" ></div>
	        <p class="clear" />
	    </div>
    </div>

    <div ng-class="bookingHistoryContainer" ng-show="showBookingHistory">
    	Booking History
    </div>

    <div ng-class="myCallHistoryContainer" ng-show="showMyCallHistory">
    	Call History
    </div>

    <div ng-class="complaintsAndFeedBack" ng-show="showComplaintsAndFeedBack">
    	Complaints and History
    </div>
    <div ng-class="ratingMenu" ng-show="showRatingMenu">
    	Rating
    </div>
    <div ng-class="chatMenu" ng-show="showChatMenu">
    	Chat
    </div>
</div>
