<fieldset data-ng-controller="bookingFormController" class="bookingFormController left" style="margin-left: 7px;">
    <legend class="searchbox-border">Travel Information</legend>

    <div class="fieldContainer  relative left">
        <label class="labelCompact">Pickup Date</label>
        <input type="text" ng-model="bookingDetails.journeyDate" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact">Pickup Time</label>
        <select class=" validate[maxSize[36]] selectFieldCompact"  style="width:48px;">
            <option>Choose</option>
        </select>
        <select class=" validate[maxSize[36]] selectFieldCompact" style="width:48px;">
            <option>Choose</option>
        </select>
    </div>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">Vehicle Name</label>
        <select class=" validate[maxSize[36]] selectFieldCompact" >
            <option>Choose</option>
        </select>
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact">Vehicle Type</label>
        <select class=" validate[maxSize[36]] selectFieldCompact" >
            <option>Choose</option>
        </select>
    </div>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">Pickup</label>
        <input type="text"  data-ng-class="{fieldExpand: pickupFocused}" data-ng-blur="pickupFocused = false" data-ng-focus="pickupFocused = true" ng-model="bookingDetails.pickupAddress" class=" validate[required,maxSize[128]] textFieldCompact" placeholder=""  googleplace/>
    </div>
    <div class="fieldContainer  relative right">
        <button class="left btnCompact btn-success" style="border-radius: 5px;" ng-click = "checkVehicleAvilabilty()">Vehicle Availability</button>
        <button class="left btnCompact btn-success" style="border-radius: 5px;" ng-click = "checkMultiVehicle()">Multi Vehicle</button>
    </div>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">Drop</label>
        <input type="text"  data-ng-class="{fieldExpand: dropFocused}" data-ng-blur="dropFocused = false" data-ng-focus="dropFocused = true" ng-model="bookingDetails.dropAddress" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" googleplace />
    </div>    
    <div class="fieldContainer  relative right" style="width: 40%;">
        <button class="left btnCompact btn-success" style="border-radius: 5px;" ng-click = "checkTariff()">Tariff</button>
    </div>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">Journey Type</label>
        <select class=" validate[maxSize[36]] selectFieldCompact" >
            <option>Choose</option>
        </select>
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact" style="width: 113px;">Sub-Journey Type</label>
        <select class=" validate[maxSize[36]] selectFieldCompact" >
            <option>Choose</option>
        </select>
    </div>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">Landmark1</label>
        <input type="text" dropFocused ng-model="bookingDetails.landmark1" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact">Landmark2</label>
        <input type="text" ng-model="bookingDetails.landmark2" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>

        <p class="clear"/>
    <hr class="buttonSpliter" />
    <div class="mainButtonContainer">
        <button class="btnCompact btn-success" data-ng-click="fnSaveBooking()">Save Booking</button>
        <p class="clear"/>
    </div>
    <div style="margin-bottom:30px;display: none;">
        <fieldset class="searchbox-border booking-fieldset">
            <legend class="searchbox-border">Snapshot</legend>
            <div class="customer-booking-tabs">
                <ul class="nav nav-tabs" style="margin-top: 20px;">
                    <li data-ng-class="{ active: fnIsActiveBookingSnapshotSubTab(1)}" data-ng-click="fnSetActiveBookingSnapshotSubTab(1)"><a>Vehicle Availability</a>
                    </li>
                    <li data-ng-class="{ active: fnIsActiveBookingSnapshotSubTab(2)}" data-ng-click="fnSetActiveBookingSnapshotSubTab(2)"><a>Package Details</a>
                    </li>
                    <li data-ng-class="{ active: fnIsActiveBookingSnapshotSubTab(3)}" data-ng-click="fnSetActiveBookingSnapshotSubTab(3)"><a>Tarrif Details</a>
                    </li>
                    <li data-ng-class="{ active: fnIsActiveBookingSnapshotSubTab(4)}" data-ng-click="fnSetActiveBookingSnapshotSubTab(4)"><a>Route Details</a>
                    </li>
                </ul>

                <div class="tab-body" data-ng-show="bookingSnapshotSubTab==1">
                    <div class="gridStyle" ng-grid="availableVehicleGrid" style="height:100%;margin:0px;"></div>
                </div>
                <div class="tab-body" data-ng-show="bookingSnapshotSubTab==2">
                    <div data-ng-include="bookingSnapshotPackageDurationDetails" style="clear:both;"></div>
                </div>
                <div class="tab-body" data-ng-show="bookingSnapshotSubTab==3">
                    <div data-ng-include="bookingSnapshotTarrifDetails" style="clear:both;"></div>
                </div>
                <div class="tab-body" data-ng-show="bookingSnapshotSubTab==4">
                    <div data-ng-include="bookingSnapshotRouteMapDetails" style="clear:both;"></div>
                </div>
            </div>
        </fieldset>
    </div>
</fieldset>
<p class="clear"/>
