<div class="modal-dialog user-add-update-container">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Check Triff</h4>
        </div>
        <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
        
           
            
        </div>
        <div class="modal-footer">            
        	<button type="button" class="btn btn-default" ng-click="handleSaveAndExit()">Confirm</button>
        </div>
    </div>
</div>