<div>
    <fieldset class="searchbox-border">
        <legend class="searchbox-border">Other Facilities</legend>
        <div class="fieldContainer relative left">
            <label class="control-label">Billing System</label>
            <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.facilities.billingSystem" ng-options="value.type as value.title for value in entertainmentOptions">
            </select>
        </div>
        <div class="fieldContainer relative left">
            <label class="control-label">Tracking System</label>
            <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.facilities.vehicleTrackingSystem" ng-options="value.type as value.title for value in entertainmentOptions">
            </select>
        </div>
        <div class="fieldContainer relative left">
            <label class="control-label">Journy Security System</label>
            <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.facilities.journySecuritySystem" ng-options="value.type as value.title for value in entertainmentOptions">
            </select>
        </div>
        <div class="fieldContainer relative left">
            <label class="control-label">Tarrif Laminated System</label>
            <select style="width: 170px" class="form-control validate[maxSize[36]] large" ng-model="vehicle.facilities.tarrifLaminatedSystem" ng-options="value.type as value.title for value in entertainmentOptions">
            </select>
        </div>
    </fieldset>
    <fieldset class="searchbox-border">
        <legend class="searchbox-border">Advertisment</legend>
        <div class="fieldContainer relative left">
            <label class="control-label">Offline Advertisments</label>
            <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.advertisments.offLineAdds" ng-options="value.type as value.title for value in entertainmentOptions">
            </select>
        </div>
        <div class="fieldContainer relative left">
            <label class="control-label">Online Advertisments</label>
            <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.advertisments.onLineAdds" ng-options="value.type as value.title for value in entertainmentOptions">
            </select>
        </div>
    </fieldset>
    <p class="clear">

</div>