<div>
    <div class="fieldContainer relative left">
        <label class="control-label">Floor Met</label>

        <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.vehicleCondition.interior.floorMet" ng-options="value.type as value.title for value in tempVehicleConditionTypes">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Seat Cover</label>

        <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.vehicleCondition.interior.seatCover" ng-options="value.type as value.title for value in tempVehicleConditionTypes">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">A.C.</label>

        <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.vehicleCondition.interior.ac" ng-options="value.type as value.title for value in tempVehicleConditionTypes">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Perfume</label>

        <select class="form-control validate[maxSize[36]] large" ng-model="vehicle.vehicleCondition.interior.perfume" ng-options="value.type as value.title for value in tempVehicleConditionTypes">
            <option value="">Select</option>
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">company Internal Branding</label>

        <select class="form-control validate[maxSize[36]] large" id="vehicle_condtion_interior_companyInternalBranding" ng-model="vehicle.vehicleCondition.interior.companyInternalBranding" ng-options="value.type as value.title for value in tempVehicleConditionTypes">
        </select>
    </div>
    <div class="fieldContainer relative left">
        <label class="control-label">Comments</label>
        <textarea class="form-control" ng-model="vehicle.vehicleCondition.interior.comments" style="height: 100px; width: 686px"></textarea>
    </div>
    <p class="clear">

</div>