<!-- Booking Details start -->
<div class="container-fluid bookingDetailsControlView">
	<div class="row">
		<div class="col-xs-6"><label title="Customer Id">C.Id</label>{{bookingDetailsData.customer.customerCode}}</div>
		<div class="col-xs-6">
			<select title="Customer No" class="left" data-ng-model="bookingDetailsData.bookingCallCustomerNo">
				<option ng-if="bookingDetailsData.customer.mobile" value="{{bookingDetailsData.customer.mobile}}" title="Primary No." ng-selected="true">Pri.No</option>
				<option ng-if="bookingDetailsData.customer.altMobile" value="{{bookingDetailsData.customer.altMobile}}" title="Alternate No.">Alt.No</option>
			</select>
			<span title="Call" class="call-icon" data-ng-click="fnBookingCallCustomer()"><span class="glyphicon glyphicon-earphone"></span> Call</span>
			<p class="clear" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6"><label title="Customer Name">C.Name</label> {{bookingDetailsData.customer.name}}</div>
		<div class="col-xs-6"><label title="Trip Count">Trip Count</label> {{bookingDetailsData.customer.tripCount}}</div>
	</div>
	<div class="row">
		<div class="col-xs-6"><label title="Grade / Category">Grade/Cat.</label> {{bookingDetailsData.customer.grade}} / {{bookingDetailsData.customer.category}}</div>
		<div class="col-xs-6"></div>
	</div>
	
	<h4>Booking Details</h4>
	<div class="row">
		<div class="col-xs-12">
			<label title="Booking">B.Id</label> {{bookingDetailsData.booking.bookingCode}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label title="Date &amp; Time">D&amp;T</label> <strong>{{bookingDetailsData.booking.pickupDate}} {{bookingDetailsData.booking.pickupTime}}</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label title="From - To">From - To</label>
			<strong title="{{bookingDetailsData.booking.pickupPlace}} - {{bookingDetailsData.booking.dropPlace}}">{{bookingDetailsData.booking.pickupPlace}} - {{bookingDetailsData.booking.dropPlace}}</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Journey Type">JT</label>
			<span class="ellipsisText" title="{{bookingDetailsData.booking.journeyTypeText}}">{{bookingDetailsData.booking.journeyTypeText}}</span>
		</div>
		<div class="col-xs-6">
			<label title="Sub Journey Type">Sub JT</label>
			<span class="ellipsisText" title="{{bookingDetailsData.booking.subJourneyTypeText}}">{{bookingDetailsData.booking.subJourneyTypeText}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Landmark 1">Landmark1</label>
			<span class="ellipsisText" title="{{bookingDetailsData.booking.landmark1}}">{{bookingDetailsData.booking.landmark1}}</span>
		</div>
		<div class="col-xs-6">
			<label title="Landmark 2">Landmark2</label>
			<span class="ellipsisText" title="{{bookingDetailsData.booking.landmark2}}">{{bookingDetailsData.booking.landmark2}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label title="Package Details">Package</label>{{bookingDetailsData.booking.tariffText}}
		</div>
	</div>

	<h4>Call Info</h4>
	<div class="row">
		<div class="col-xs-6">
			<label title="Call Taker Name">CT. Name</label>
			<span class="ellipsisText" title="{{bookingDetailsData.employee.callTakenBy}}">{{bookingDetailsData.employee.callTakenBy}}</span>
		</div>
		<div class="col-xs-6">
			<label title="Dispatcher Name">D. Name</label>
			<span class="ellipsisText" title="{{bookingDetailsData.employee.callDispatchedBy}}">{{bookingDetailsData.employee.callDispatchedBy}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Start Report By">SR. By</label>
			<span class="ellipsisText" title="{{bookingDetailsData.employee.startReportTakenBy}}">{{bookingDetailsData.employee.startReportTakenBy}}</span>
		</div>
		<div class="col-xs-6">
			<label title="Close Report By">CR. By</label>
			<span class="ellipsisText" title="{{bookingDetailsData.employee.closeReportTakenBy}}">{{bookingDetailsData.employee.closeReportTakenBy}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Modified By">Mod. By</label>
			<span class="ellipsisText" title="{{bookingDetailsData.employee.modifiedBy}}">{{bookingDetailsData.employee.modifiedBy}}</span>
		</div>
		<div class="col-xs-6">
			<label title="Cancel By">Cancel By</label>
			<span class="ellipsisText" title="{{bookingDetailsData.employee.cancelledBy}}">{{bookingDetailsData.employee.cancelledBy}}</span>
		</div>
	</div>

	<h4>Driver Details</h4>
	<div class="row">
		<div class="col-xs-6">
			<label title="Driver Id">Dr. Id</label> {{bookingDetailsData.driver.driverCode}}
		</div>
		<div class="col-xs-6">
			<label title="Driver Name">Dr. Name</label>
			<span class="ellipsisText" title="{{bookingDetailsData.driver.namevehicle}}">{{bookingDetailsData.driver.name}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Vehicle Id">Veh.Id</label> {{bookingDetailsData.vehicle.vehicleCode}}
		</div>
		<div class="col-xs-6">
			<select title="Driver No" data-ng-model="bookingDetailsData.bookingCallDriverNo" class="left">
				<option ng-if="bookingDetailsData.driver.mobile" value="{{bookingDetailsData.driver.mobile}}" title="Driver No." ng-selected="true">D.No</option>
				<option ng-if="bookingDetailsData.vehicle.registeredMobile" value="{{bookingDetailsData.vehicle.registeredMobile}}" title="Registered No.">R.No</option>
			</select>
			<span title="Call" class="call-icon" data-ng-click="fnBookingCallDriver()"><span class="glyphicon glyphicon-earphone"></span> Call</span>
			<p class="clear" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Vehicle Name">V. Name</label>
			<span class="ellipsisText" title="{{bookingDetailsData.vehicle.vehicleName}} ({{bookingDetailsData.vehicle.vehicleType}})">{{bookingDetailsData.vehicle.vehicleName}}</span>
		</div>
		<div class="col-xs-6">
			<label title="Registration No.">Reg. No</label> {{bookingDetailsData.vehicle.registrationNumber}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Vehicle Model">V. Model</label> --  <!--  {{bookingDetailsData.vehicle.model}} -->
		</div>
		<div class="col-xs-6">
			<label title="Previous Location">Prev. Loc</label>
			<span class="ellipsisText" title="{{bookingDetailsData.vehicle.previousLocation}}">{{bookingDetailsData.vehicle.previousLocation}}</span>
		</div>
	</div>
	<h4>Comments</h4>
	<div class="row">
		<div class="col-xs-12">
			<label title="Comments By">By</label> -- <!-- {{bookingDetailsData.customer.comments}} -->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<textarea disabled>Comments here</textarea>
		</div>
	</div>
</div>