<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Change Vehicle Status</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span  class="innerLabel">Caller Name: </span>
                <span>-</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.: </span>
                <span>-</span>
            </div>
        </div>
        <div class="modal-body" > 
            <fieldset class="left">
                <legend class="searchbox-border">Change Vehicle Status</legend>

                <div class="fieldContainer  relative">
                    <label class="labelCompact">Status</label>
                    <select class="validate[maxSize[36]] selectFieldCompact" ng-model="vChangeStatus.stateTo" data-ng-options="obj.id as obj.status for obj in vehicleDetails.vehicleStatusTypes">
                        <option>Choose</option>
                    </select>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact requiredField">Reason</label><!--  ng-model="" -->
                    <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="vChangeStatus.reasonId" data-ng-options="obj.id as obj.reason for obj in vehicleChangeStatusReasonTypes"></select>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact requiredField">Priority</label>
                    <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="vChangeStatus.priorityId" ng-options="k as v for (k,v) in vehiclePriorities"></select>
                </div>
                <div class="fieldContainer  relative" style="height:75px;">
                    <label class="labelCompact requiredField">Comments</label>
                    <textarea data-ng-model="vChangeStatus.statusComments" class="cancelBookingComment"></textarea>
                </div>
            </fieldset>
            <p class="clear"/>
        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndClose()" >Save</button>
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>
