<div id="controlViewWrapper" fit-height-layout ng-model ="containerHeight">
	<div id = "bookingNav" class= "bookingNav historyBarContainer">
		<ul class="bookingNav_ul clearfix">
			<li ng-class="(showDispatchView) ? 'tabSelcted' : ''" ng-click="showDispatchViewTab()">Dispatch</li>
            <li ng-class="(showBookingDetails) ? 'tabSelcted' : ''" ng-click="showBookingDetailsTab()">Booking</li>
            <li  ng-class = "(showControlViewDetails) ? 'tabSelcted' : ''" ng-click="showControlViewTab()">Control View</li>
            <li ng-class="(showMyCallBacks) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">My Callbacks</li>
            <li ng-class="(showMycallHistory) ? 'tabSelcted' : ''" ng-click="showMycallHistoryTab()">My Call History</li>
            <li ng-class="(showTariffDetails) ? 'tabSelcted' : ''" ng-click="showTariffDetailsTab()">Tariff</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Complaints &amp; feedback</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Rating</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Breaks</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Chat</li>
			<li ng-class="(showComplaints) ? 'tabSelcted' : ''" ng-click="showComplaintsTab()">Follow Ups</li>
		</ul>
	</div>
	<div class="contentContainer">
	<div class="panel panel-info custom-panel-overrides pull-left informational-view no-border-bottom" ng-show="informationViewDisplay">
		<div class="panel-heading custom-panel-header-overrides">
		  <span class="panel-title">Information</span>		  
		  <i class="glyphicon glyphicon-remove pull-right" ng-click="infoPanelToggle()"></i>
		  <span class="clearfix"></span>
		</div>
		<div class="panel-body custom-panel-body" fit-height-layout ng-model="bookingGridBorder">
		  <div class="panel panel-info" accordian-handler>
				<div class="panel-heading short-panel-heading" ng-click="handleShortPanelClick('bMgmt')">
				  <span class="panel-title">Booking Management</span>
				  <i class="glyphicon glyphicon-chevron-right"></i>
				  <span class="clearfix"></span>
				</div>
				<div class="panel-body padding-5-panel-body">
				  
					<div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
								<label title="Attachment Type" >Atmt. Type</label>
							</div>
							<div class="col-xs-7">
								<select class=" autoWidth selectFieldCompact" data-ng-model="bdSearch.attType" data-ng-options="obj.id as obj.attachmentType for obj in vAttTypes"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
								<label title="Vehicle Condition">Veh. Cond.</label>
							</div>
							<div class="col-xs-7">
									<select class=" autoWidth selectFieldCompact" data-ng-model="bdSearch.vCondtion" data-ng-options="obj.id as obj.condition for obj in vConditions"></select>
								</div>
						</div>
						<!-- <div class="row margin-bottom5">
							<div class="col-xs-5">
								<label title="Vehicle Type">V. Type</label>
							</div>
							<div class="col-xs-7">
									<select class=" autoWidth selectFieldCompact" data-ng-model="bdSearch.vType" data-ng-options="obj.id as obj.vehicleType for obj in vTypes"></select>
								</div>
						</div>
						
						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Vehicle Name">V. Name</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="bdSearch.vName" data-ng-options="obj.id as obj.vehicleName for obj in vNames"></select>
							</div>
						</div> -->
						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Vehicle Name / Vehicle Type">Vehicle</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="bdSearch.vehicle" data-ng-options="obj as obj.title for obj in oVehicles"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Vehicle Vaccant Time">Vacant Tm.</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="bdSearch.vacantTm" data-ng-options="obj.id as obj.title for obj in oVacantTimes"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5">
								<label title="Hours">Hours</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="bdSearch.nxtHrs" data-ng-options="obj.val as obj.txt for obj in nxtHrs"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-6">
								<label title="Projected Hours" >P.H.</label>
								<select style="width: 60px;" class="selectFieldCompact" data-ng-model="bdSearch.projHrs" data-ng-options="obj.val as obj.txt for obj in projHrs"></select>
							</div>
							<div class="col-xs-6">
								<label title="Collection" >Col.</label>
								<select style="width: 60px;" class="selectFieldCompact" data-ng-model="bdSearch.collection" data-ng-options="obj.val as obj.txt for obj in collections"></select>
							</div>
						</div>							
						<div class="row margin-bottom5">
							<div class="col-xs-6">
								<label title="Vehicle Mode MOnth">MM.</label>
								<select  style="width: 60px;" class=" selectFieldCompact" data-ng-model="bdSearch.vModMonth" data-ng-options="k as v for (k,v) in oMonths"></select>
							</div>
							<div class="col-xs-6">
								<label title="Vehicle Mode Year">YY.&nbsp;</label>
								<select  style="width: 60px;" class="selectFieldCompact" data-ng-model="bdSearch.vModYear" data-ng-options="k as v for (k,v) in vModYear"></select>
							</div>
						</div>
						<div class=" margin-bottom5" style="text-align: center;">
							<button data-ng-click="fnLoadBookingStatusWise(['4']);">Search</button>
						</div>
					</div>

					<hr class="buttonSpliter" />


					<div>
						<div class="row margin-bottom5">
							<div class="col-xs-12">
								<button class="autoWidth btn btn-xs btn-success" data-ng-click="fnLoadBookingStatusWise(['4','5','6']);">Show All ({{allCount}})</button>								
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-12">
								<button  class="autoWidth btn btn-xs btn-danger" title="Yet to Dispatch" data-ng-click="fnLoadBookingStatusWise(['4']);">Yet to Dispatch ({{ytdCount}})</button>								
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-12">
								<button class="autoWidth btn btn-xs btn-warning" data-ng-click="fnLoadBookingStatusWise(['5']);">Allotted ({{altCount}})</button>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-12">
								<button class="autoWidth btn btn-xs btn-success" data-ng-click="fnLoadBookingStatusWise(['6']);">Confirmed ({{cnfCount}})</button>		
							</div>
						</div>
					</div>

				</div>
			</div>


			<!-- vehicle Info accordian  -->
			<div class="panel panel-info" accordian-handler>
				<div class="panel-heading short-panel-heading" ng-click="handleShortPanelClick('vInfo')">
				  <span class="panel-title">Vehicles Info</span>
				  <i class="glyphicon glyphicon-chevron-right"></i>
				  <span class="clearfix"></span>
				</div>
				<div class="panel-body padding-5-panel-body hide">
					<div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
								<label title="Attachment Type" >Atmt. Type</label>
							</div>
							<div class="col-xs-7">
								<select class=" autoWidth selectFieldCompact" data-ng-model="viSearch.attType" data-ng-options="obj.id as obj.attachmentType for obj in vAttTypes"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Vehicle Name / Vehicle Type">Vehicle</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="viSearch.vehicle" data-ng-options="obj as obj.title for obj in oVehicles"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Vehicle Condition">Condition</label>
							</div>
							<div class="col-xs-7">
								<select class=" autoWidth selectFieldCompact" data-ng-model="viSearch.vCondtion" data-ng-options="obj.id as obj.condition for obj in vConditions"></select>
							</div>
						</div>	
						<!-- <div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Vehicle Condition">Status</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="viSearch.vStatus" data-ng-options="obj.id as obj.vehicleStatus for obj in vStates"></select>
							</div>
						</div> -->

						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Zone">Zone</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="viSearch.zone" data-ng-options="obj.id as obj.vehicleName for obj in oJournies"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Area">Area</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="viSearch.area" data-ng-options="obj.id as obj.vehicleName for obj in oAreas"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Expected Vehicle Vacant Time">Vacant Tm.</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="viSearch.vacantTm" data-ng-options="obj.id as obj.title for obj in oVacantTimes"></select>
							</div>
						</div>
						<div class="row margin-bottom5">
							<div class="col-xs-6">
								<label title="Projected Hours" >P.H.</label>
								<select style="width: 60px;" class="selectFieldCompact" data-ng-model="viSearch.projHrs" data-ng-options="obj.val as obj.txt for obj in projHrs"></select>
							</div>
							<div class="col-xs-6">
								<label title="Collection" >Col.</label>
								<select style="width: 60px;" class="selectFieldCompact" data-ng-model="viSearch.collection" data-ng-options="obj.val as obj.txt for obj in collections"></select>
							</div>
						</div>
						<div class=" margin-bottom5" style="text-align: center;">
							<button data-ng-click="fnSearchWhileDrivingVehicleInfo();">Search</button>
						</div>
					</div>



				</div>
			</div>
			<!-- EOF vehicle Info accordian  -->


			<!-- Booking Info -->
			<div class="panel panel-info" accordian-handler>
				<div class="panel-heading short-panel-heading" ng-click="handleShortPanelClick('bInfo')">
				  <span class="panel-title">Booking Info</span>
				  <i class="glyphicon glyphicon-chevron-right"></i>
				  <span class="clearfix"></span>
				</div>
				<div class="panel-body padding-5-panel-body hide">
				  	<div class="row margin-bottom5">
						<div class="col-xs-5">
							<label title="Pickup Date">Date</label>
						</div>
						<div class="col-xs-7">
							<input type="text" datepicker ng-model="biSearch.bookingInfoDate" class="autoWidth textFieldCompact" placeholder=""/>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Pickup Time">Time</label>
						</div>
						<div class="col-xs-7">
							<select class=" validate[maxSize[36]] selectFieldCompact" data-ng-model="biSearch.pickupTm" ng-options='k as v for (k,v) in hours' data-ng-change="fnChangeToTime()" style="width:48px;"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
							<div class="col-xs-5">
							<label title="Vehicle Name / Vehicle Type">Vehicle</label>
							</div>
							<div class="col-xs-7">
								<select class="autoWidth selectFieldCompact" data-ng-model="biSearch.vehicle" data-ng-options="obj as obj.title for obj in oVehicles"></select>
							</div>
						</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Journey">Journey</label>
						</div>
						<div class="col-xs-7">
							<select class=" autoWidth selectFieldCompact" data-ng-model="biSearch.journey" data-ng-options="obj.id as obj.journeyType for obj in journeyTypes | filter:{parentId: '0'}"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Vehicle Name">Sub.J. From</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact"  data-ng-model="biSearch.sjFrom" data-ng-options="obj.id as obj.journeyType for obj in subJourneyTypes | filter:{parentId: biSearch.journey}"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Vehicle Name">Sub.J. To</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact"  data-ng-model="biSearch.sjTo" data-ng-options="obj.id as obj.journeyType for obj in subJourneyTypes | filter:{parentId: biSearch.journey}"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Zone">Zone</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact" data-ng-model="biSearch.zone" data-ng-options="obj.id as obj.vehicleName for obj in oJournies"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Area">Area</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact" data-ng-model="biSearch.area" data-ng-options="obj.id as obj.vehicleName for obj in oAreas"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Search By">Search By</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact" data-ng-model="biSearch.searchByType" data-ng-options="obj.id as obj.title for obj in oSearchBy"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Search By">Search Text</label>
						</div>
						<div class="col-xs-7">
							<input type="text" class="autoWidth selectFieldCompact" data-ng-model="biSearch.searchByText" />
						</div>
					</div>

					<div class=" margin-bottom5" style="text-align: center;">
						<button class="" data-ng-click="setBookingInfoGrid(false)" title="Search Booking Info">Search</button>
					</div>				  
				</div>
			</div>
			<!-- EOF Booking Info -->


			<!-- Auto login accordian -->
			<div class="panel panel-info" accordian-handler>
				<div class="panel-heading short-panel-heading" ng-click="handleShortPanelClick('autoLog')">
				  <span class="panel-title">Auto-Login Vehicles</span>
				  <i class="glyphicon glyphicon-chevron-right"></i>
				  <span class="clearfix"></span>
				</div>

				<div class="panel-body padding-5-panel-body hide">

				  	<div class="row margin-bottom5">
						<div class="col-xs-5">
							<label title="Login Date">Date</label>
						</div>
						<div class="col-xs-7">
							<input type="text" datepicker ng-model="alSearch.loginDate" class="autoWidth textFieldCompact" placeholder=""/>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Zone">Zone</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact" data-ng-model="alSearch.zone" data-ng-options="obj.id as obj.vehicleName for obj in oJournies"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Area">Area</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact" data-ng-model="alSearch.area" data-ng-options="obj.id as obj.vehicleName for obj in oAreas"></select>
						</div>
					</div>
					<!-- <div class="row margin-bottom5">
						<div class="col-xs-5">
							<label title="Vehicle Type">V. Type</label>
						</div>
						<div class="col-xs-7">
								<select class=" autoWidth selectFieldCompact" data-ng-model="bdSearch.vType" data-ng-options="obj.id as obj.vehicleType for obj in vTypes"></select>
							</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Vehicle Name">V. Name</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact" data-ng-model="bdSearch.vName" data-ng-options="obj.id as obj.vehicleName for obj in vNames"></select>
						</div>
					</div> -->
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="Vehicle Name / Vehicle Type">Vehicle</label>
						</div>
						<div class="col-xs-7">
							<select class="autoWidth selectFieldCompact" data-ng-model="alSearch.vehicle" data-ng-options="obj as obj.title for obj in oVehicles"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="From Time">From Time</label>
						</div>
						<div class="col-xs-7">
							<select class=" validate[maxSize[36]] selectFieldCompact" data-ng-model="alSearch.fromTime" ng-options='k as v for (k,v) in hours' data-ng-change="fnChangeToTime()" style="width:48px;"></select>
						</div>
					</div>
					<div class="row margin-bottom5">
						<div class="col-xs-5">
						<label title="To Time">To Time</label>
						</div>
						<div class="col-xs-7">
							<select class=" validate[maxSize[36]] selectFieldCompact" data-ng-model="alSearch.toTime" ng-options='k as v for (k,v) in hours' style="width:48px;"></select>
						</div>
					</div>
					<div class=" margin-bottom5" style="text-align: center;">
						<button class="" data-ng-click="fnSearchAutoLoginVehicleGrid(false)" title="Search Auto-login Vehicles">Search</button>
					</div>
				</div>
			</div>
			<!-- EOF Auto login Accordian -->


		</div>
	</div>
	<div class="panel panel-info custom-panel-overrides pull-left booking-view booking-normal-view no-border-bottom" ng-class="{bookingNoVehicleView:!vehicleViewDisplay,bookingNoInformationalView:!informationViewDisplay,bookingFullView:!infoVehicleCombiDisplay}">
		<div class="panel-heading custom-panel-header-overrides">
			<i class="glyphicon glyphicon-chevron-right chevron-right" ng-click="infoPanelToggle()" ng-show="!informationViewDisplay" title="Open Information view"></i>
			<div ng-show="showingBookingsGrid">
			  <span class="panel-title">Bookings</span>
			  <span class="glyphicon glyphicon-refresh" title="Refresh Booking Management Grid" data-ng-click="fnLoadBookingStatusWise(['4']);"></span>
			  <div class="pull-right">
				  <input id="booking_search" type="text" ng-model="filterText" class="searchInput" placeholder ="Search Bookings" ng-change="bookingSearch()"/>
			  	  <i class="glyphicon glyphicon-chevron-left" ng-click="vehiclePanelToggle(true)" ng-show="!vehicleViewDisplay" title="Open Vehicle view"></i>
			  	  <span class="clearfix"></span>
		  	  </div>
		  	  <span class="clearfix"></span>
			</div>
			<div ng-show="showingWhilDrivingGrid">
			  <span class="panel-title">While Driving Vehicles</span>
			  <div class="pull-right">
				  <input id="while_driving_search" type="text" ng-model="whileDrivingFilterText" class="searchInput" placeholder ="Search Vehicles" ng-change="whileDrivingSearch()"/>
			  	  <i class="glyphicon glyphicon-chevron-left" ng-click="vehiclePanelToggle(true)" ng-show="!vehicleViewDisplay" title="Open Vehicle view"></i>
			  	  <span class="clearfix"></span>
		  	  </div>
		  	  <span class="clearfix"></span>
			</div>
			<div ng-show="showingBookingsInfoGrid">
			  <span class="panel-title">Booking Info</span>
			  <span class="glyphicon glyphicon-refresh" title="Refresh Booking Info" data-ng-click="setBookingInfoGrid(false)"></span>
			  <input id="while_info_search" type="text" ng-model="bookingInfoFilterText" class="searchInput pull-right" placeholder="Search Bookings" ng-change="bookingInfoSearch()"/>
			</div>		
			<div ng-show="showingAutoLoginVehicleGrid">
			  <span class="panel-title">Auto-login Vehicles</span>
		  	  <span class="clearfix"></span>
			</div>
		  <span class="clearfix"></span>
		</div>
		<div class="panel-body custom-panel-body">
		  	<div id="dispatcherBookingsListGrid" class="gridStyle" ng-grid="gridBookingsData" style="margin:0px;" fit-height-layout ng-model ="bookingGridHeight" ng-show="showingBookingsGrid"></div>
		  	<div id="dispatcherWhileDrivingListGrid" class="gridStyle" ng-grid="gridForWhileDrivingVehiclesData" style="margin:0px;" fit-height-layout ng-model ="bookingGridHeight" ng-show="showingWhilDrivingGrid"></div>
		  	<div id="dispatcherBookingsInfoGrid" class="gridStyle" ng-grid="gridBookingsInfoData" style="margin:0px;" fit-height-layout ng-model ="bookingGridHeight" ng-show="showingBookingsInfoGrid"></div>
		  	<div id="autoLoginVehicleGrid" class="gridStyle" ng-grid="gridAutoLoginVehiclesData" style="margin:0px;" fit-height-layout ng-model ="bookingGridHeight" ng-show="showingAutoLoginVehicleGrid"></div>
		</div>
	</div>
	<div class="panel panel-info pull-left vehicles-view custom-panel-overrides no-border-bottom" ng-show="vehicleViewDisplay">
		<div class="panel-heading custom-panel-header-overrides">
		  <span class="panel-title">Vehicles</span>
		  <i class="glyphicon glyphicon-remove pull-right right" ng-click="vehiclePanelToggle(false)"></i>
		  <input id="vehicle_search" type="text" ng-model="vacantVehicleFilterText" class="searchInput textFieldCompact right" placeholder ="Search Vehicles" ng-change="fnVacantVehicleSearch()" style="margin-right: 5px;" />
		  <span class="clearfix"></span>
		</div>
		<div class="panel-body custom-panel-body" fit-height-layout ng-model ="bookingGridBorder">
			<div ng-switch="mainGridView" class="mainGridView">
				<div ng-switch-when="vInfo" class="flex-height">
						<!-- <div id="dispatcherVacantVehiclesGrid" class="gridStyle" ng-grid="gridForVacantVehiclesData" style="margin:0px;" ng-show="!whileDrivingVehicleSelected"> </div> -->
						<div ng-show="whileDrivingVehicleSelected">
							<div class="tabs">
								<div class="tabHeader clearfix">
							  	<div ng-repeat="tab in tabs_whileDriving" class="tabContainer left">
							    	<div id="{{tab.splitTabId}}" ng-click="handleTabClick(tab.id, tabs_whileDriving)" class="tab" ng-class="{selected: tab.selected}" title="{{tab.tooltip}}">
							    		<span class="tabLabel" data-ng-bind="tab.label"></span>
							  		</div>
									</div>
								</div>
							</div>
							<div ng-include src ="splitCurrentTab"> 
							</div>
						</div>
				</div>
				<div ng-switch-when="bInfo">						
					<div ng-show="bookingInfoRecordSelected">
						<div class="tabs">
							<div class="tabHeader clearfix">
						  	<div ng-repeat="tab in tabs_whileDriving" class="tabContainer left">
						    	<div id="{{tab.splitTabId}}" ng-click="handleTabClick(tab.id, tabs_whileDriving)" class="tab" ng-class="{selected: tab.selected}" title="{{tab.tooltip}}">
						    		<span class="tabLabel" data-ng-bind="tab.label"></span>
						  		</div>
								</div>
							</div>
						</div>
						<div ng-include src ="splitCurrentTab" class="fixed-view"> 
						</div>
					</div>
				</div>
				<div ng-switch-default="" class="flex-height">
					<!-- <div id="dispatcherVacantVehiclesGrid" class="gridStyle" ng-grid="gridForVacantVehiclesData" style="margin:0px;" ng-show="!bookingSelected" ng-class="{vehicleHalfView:vacantVehicleSelected}"> </div>


					<div class="booking-vehicle-info-holder" ng-show='vacantVehicleSelected'>
						<div class="panel panel-info">
							<div class="panel-heading short-panel-heading">
							    <span class="panel-title left">Vehicle details</span>
								<span ng-switch on="vehicleDetailsData.vehicle.vehicleStatus" class="right">
									<button ng-switch-when="4" class="btnCompact btn-success left" data-ng-click="fnControlViewVehicleConfirm()">Confirm</button>
									<button ng-switch-when="4" class="btnCompact btn-danger left" data-ng-click="fnControlViewVehicleRejectBooking()">Reject</button>
									<i class="glyphicon glyphicon-remove" ng-click="fnHideVacantInfoPanel()"></i>
									<span class="clearfix"></span>
								</span>
								<span class="clearfix"></span>
							</div>
							<div class="panel-body padding-5-panel-body">
							  <div class="vehicle-details-holder">
							  	<div data-ng-include="vehicleDetailedInfoSplitView"></div>
							  </div>
							</div>
						</div>
					</div> -->

					<div >
						<div style="width: 100%;padding-left: 20px;">
							<div ng-repeat="vType in vTypes" class="left margin-right10">
								<input type="checkbox" style="margin-right:2px;" ng-model="chbVtype[vType.id]" data-ng-change="fnVehicleTypeTicked()" /><span data-ng-bind="vType.vehicleType"></span>
							</div>
							<p class="clear"/>
						</div>
						<div class="tabs">
							<div class="tabHeader clearfix">
						  	<div ng-repeat="tab in tabs" class="tabContainer left">
						    	<div id="{{tab.splitTabId}}" ng-click="handleTabClick(tab.id, tabs)" class="tab" ng-class="{selected: tab.selected}" title="{{tab.tooltip}}">
						    		<span class="tabLabel" data-ng-bind="tab.label"></span>
						  		</div>
								</div>
							</div>
						</div>
						<div ng-include src ="splitCurrentTab"> 
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<span class="clearfix"></span>
</div>