<fieldset class="currentMonthData">
    <legend class="searchbox-border">Current Day Bookings</legend>
    <div class="header-display">
        <!-- <span class="" title="{{vehicleMainDetails.details.homeLocation}}">{{vehicleMainDetails.details.homeLocation}}</span> -->
        <span title="Login Time"><strong>LiT:</strong></span>
        <span class="ellipsisText" title="{{currentDayStatistics.loginTime}}"><strong>{{currentDayStatistics.loginTime}}</strong></span>

        <span title="Expected Logout Time"><strong>ELoT:</strong></span>
        <span class="ellipsisText" title="{{currentDayStatistics.expectedLogoutTime}}"><strong>{{currentDayStatistics.expectedLogoutTime}}</strong></span>

        <span title="Previous Location"><strong>PL:</strong></span>
        <span class="ellipsisText" title="{{currentDayStatistics.previousLocation}}"><strong>{{currentDayStatistics.previousLocation}}</strong></span>

        <span title="Current Location"><strong>CL:</strong></span>
        <span class="ellipsisText" title="{{currentDayStatistics.currentLocation}}"><strong>{{currentDayStatistics.currentLocation}}</strong></span>
        
        <span><strong>Status:</strong></span>
        <span class="ellipsisText"><strong>{{currentDayStatistics.status}}</strong></span>
        <p class="clear"/>
    </div>
    <div class="header-display">
        <span title="Total Booking"><strong>T.Bookings:&nbsp;</strong></span>
        <span class="ellipsisText"><strong>{{currentDayStatistics.totalBookings}}</strong></span>

        <span title="Successful Booking"><strong>SB:&nbsp;</strong></span>
        <span class="ellipsisText"><strong>{{currentDayStatistics.successBookings}}</strong></span>
        
        <span title="Roadside Booking"><strong>Ro.B:&nbsp;</strong></span>
        <span class="ellipsisText"><strong>{{currentDayStatistics.roadsideBookings}}</strong></span>
    
        <span title="Rejected Booking"><strong>RB:&nbsp;</strong></span>
        <span class="ellipsisText"><strong>{{currentDayStatistics.rejectedBookings}}</strong></span>

        <span title="Cancelled Booking"><strong>CB:&nbsp;</strong></span>
        <span class="ellipsisText"><strong>{{currentDayStatistics.canceledBookings}}</strong></span>
        <p class="clear"/>
    </div>
    <div style="height:120px;margin-right: 20px;width:72%;" id="customerBookingGridID" class="bookingHistoryGrid left">
    	<div class="gridStyle" ng-grid="gridCurrentMonthData" style="min-height:115px;"></div>
    </div>
    <div style="width:24%;" class="left">
    	<div class="fieldContainer relative clearBoth">
            <label class="labelCompact" title="Day Collection">Day Coll:</label>
            <span>{{currentDayStatistics.dayCollection}}</span>
        </div>
        <div class="fieldContainer relative clearBoth">
            <label class="labelCompact" title="Total Login Hours">T. Login Hrs:</label>
            <span>{{currentDayStatistics.totalLoginTime}}</span>
        </div>
        <div class="fieldContainer relative clearBoth">
            <label class="labelCompact" title="Total Break Time">T. Break Tm:</label>
            <span>{{currentDayStatistics.totalBreakTime}}</span>
        </div>
        <div class="fieldContainer relative clearBoth">
            <label class="labelCompact" title="Working Hours">Working Hrs:</label>
            <span>{{currentDayStatistics.totalWorkingTime}}</span>
        </div>
        <div class="fieldContainer relative clearBoth">
            <label class="labelCompact" title="Performance">Performance:</label>
            <span style="height:20px;display:inline-block;width:40px;border-radius:5px;background-color:{{currentDayStatistics.performance}};"></span>
        </div>
        <p class="clear"/>
    </div>
    <p class="clear" />
</fieldset>
<fieldset class="left" style="width:49.3%">
    <legend class="searchbox-border">Current Month History</legend>
    
    <div style="width: 100%;">
        <div class="left" style="width:60%;padding: 0 5px 0 0;border-right: 1px solid #ccc;margin-bottom: 5px;">
            <div style="width:100%;border-bottom: 1px solid #ccc;padding-bottom: 5px;margin-bottom: 5px;">
                <div class="fieldContainer relative left" style="width:180px;">
                    <label class="labelCompact" title="Day Average">Day Avg.</label>
                    <span>{{currentMonthStatistics.vehicle.dayAverage}}</span>
                </div>
                <div class="fieldContainer relative right" style="width:180px">
                    <label class="labelCompact" title="Till now Reached">Reached</label>
                    <span class="left margin-right10">{{currentMonthStatistics.vehicle.reached}}</span>
                    <span class="left" style="height:20px;display:inline-block;width:40px;border-radius:5px;background-color:{{currentMonthStatistics.vehicle.performance}};"></span>
                    <p class="clear"/>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left" style="width:180px;">
                    <label class="labelCompact" title="Driver Performance">Perf..</label>
                    <span style="height:20px;display:inline-block;width:40px;border-radius:5px;background-color:{{currentMonthStatistics.driver.performance}};"></span>
                </div>
                <div class="fieldContainer relative right" style="width:180px">
                    <label class="labelCompact" title="Average Login Hours">Avg.Login</label>
                    <span>{{currentMonthStatistics.driver.avgLoginHoursText}}</span>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left" style="width:180px;">
                    <label class="labelCompact" title="Total Days">T.Days</label>
                    <span>{{currentMonthStatistics.driver.totalDays}}</span>
                </div>
                <div class="fieldContainer relative right" style="width:180px">
                    <label class="labelCompact" title="Working Days">W.Days</label>
                    <span>{{currentMonthStatistics.driver.workingDays}}</span>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left" style="width:180px;">
                    <label class="labelCompact" title="Vehicle Complaints Count">V.Comp.</label>
                    <span>{{currentMonthStatistics.vehicle.complaintsCount}}</span>
                </div>
                <div class="fieldContainer relative right" style="width:180px">
                    <label class="labelCompact" title="Driver Complaints Count">D.Comp.</label>
                    <span>{{currentMonthStatistics.driver.complaintsCount}}</span>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left" style="width:180px">
                    <label class="labelCompact" title="Vehicle Rating">V.Rating</label>
                    <span ng-repeat="j in currentMonthStatistics.vehicle.aRating">
                        <span class="glyphicon {{j.cls}}"></span>
                    </span>
                </div>
                <div class="fieldContainer relative right" style="width:180px">
                    <label class="labelCompact" title="Driver Rating">D.Rating</label>
                    <span ng-repeat="j in currentMonthStatistics.driver.aRating">
                        <span class="glyphicon {{j.cls}}"></span>
                    </span>
                </div>
                <p class="clear"/>
            </div>
            <div style="width:100%;">
                <div class="fieldContainer relative">
                    <span title="Total Bookings">T.Bkngs</span>
                    <span class="margin-right10">{{currentMonthStatistics.booking.total}}</span>

                    <span title="Successful Bookings">SB: </span>
                    <span class="margin-right10">{{currentMonthStatistics.booking.completed}}</span>

                    <span title="Rejected Bookings">RB: </span>
                    <span class="margin-right10">{{currentMonthStatistics.booking.rejected}}</span>

                    <span title="Roadside Bookings">Ro.B: </span>
                    <span class="margin-right10">{{currentMonthStatistics.booking.roadside}}</span>

                    <span title="Cancelled Bookings">CB: </span>
                    <span class="margin-right10">{{currentMonthStatistics.booking.cancelled}}</span>
                </div>
            </div>
        </div>
        <div class="left" style="height: 100%;width:39%; text-align: center;">
            <!-- <chart  value='{{assetStateChartData}}' type="pie" id="stateChart" height="200" width="200"></chart> --> Chart Data
        </div>
        <p class="clear"/>
    </div>
</fieldset>
<p class="clear" />