<div >
	<div id="topContainerID">
	    <div data-ng-include="vehicleInformationForm" class="left"></div>
	    <div data-ng-include="vehicleLoginForm" class="left" data-ng-show="vLoginView"></div>
	    <div data-ng-include="vehicleVacantForm" class="left" data-ng-show="vVacantView"></div>
	    <div data-ng-include="vehicleAllotForm" class="left" data-ng-show="vAllotView"></div>
	    <div data-ng-include="vehicleDefaultForm" class="left" data-ng-show="vDefaultView"></div>
	    <div data-ng-include="chatForm" class="left"></div>
	    <div data-ng-include="bookingStatistics" class="left"></div>
	    <p class="clear"/>
	</div>
	<div data-ng-include="currentMonthData" style="clear:both;"></div>
	<div data-ng-include="lastMonthHistory" class="left" style="margin: 5px 5px 0 0;width:100%;"></div>
</div>
<!-- <div class="container-fluid dispatch-dashboard-view">
	<div class="row">
		<div class="col-md-12 no-padding">
			Level 1: .col-md-12
			<div class="row">
				<div class="col-md-3" style="border:1px solid red;">
					Level 2: .col-md-3
				</div>
				<div class="col-md-6" style="border:1px solid green;">
					Level 2: .col-md-6
				</div>
				<div class="col-md-3" style="border:1px solid blue;">
					Level 2: .col-md-3
				</div>
			</div>
		</div>
	</div>
</div>
 -->