<div class="modal-dialog add-request">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Driver / Dispatcher Request</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span class="innerLabel">Caller Name:</span>
                <span>{{ customerName }}</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.:</span>
                <span>{{ customerMobile }}</span>
            </div>
        </div>
        <div class="modal-body">
            <fieldset>
                Buttons to come..
            </fieldset>
            <p class="clear" />
        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndCloseRequest()">{{ saveText }}</button>
        </div>
    </div>
</div>
