<fieldset class="dispatchFormController left" data-ng-controller="vehicleActivityController" style="margin-left: 7px;height:212px;">
    <legend class="searchbox-border">Vehicle Vacant {{vStateHeading}}</legend>

    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Login Time</label>
        <span>{{vehicleMainDetails.details.loginTime}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Vacant Time</label>
        <span>{{vehicleMainDetails.details.vacantTimeText}}</span>
    </div>
    <p class="clear" />
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">No.of Breaks</label>
        <span>{{vehicleMainDetails.details.breakCount}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact" title="Overall Break Time">Overall BT</label>
        <span>{{vehicleMainDetails.details.breakTime}}</span>
    </div>
    <p class="clear" />
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">No.of Bkings</label>
        <span>{{vehicleMainDetails.details.bookingCount}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Day Collection</label>
        <span>{{vehicleMainDetails.details.dayCollection}}</span>
    </div>
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Home Loc.</label>
        <span class="ellipsisText" title="{{vehicleMainDetails.details.homeLocation}}">{{vehicleMainDetails.details.homeLocation}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Next Booking</label>
        <span>{{vNextBookingState}}</span> <!-- Yes / No  Green / Red color -->
    </div>
    <p class="clear" />
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Current Loc</label>
        <span class="ellipsisText" title="{{vehicleMainDetails.location}}">{{vehicleMainDetails.location}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Booking Id</label>
        <select class="left" data-ng-model="bookingType">
            <option title="Current Day Booking" value="1">C</option>
            <option title="Advance Booking" value="2">A</option>
        </select>
        <input type="text" ng-model="vehicleMainDetails.details.bookingId" class="validate[required,maxSize[128]] textFieldCompact" placeholder="Booking Id" style="width: 58px;margin-left: 5px;" />
    </div>
    <p class="clear"/>
    <hr class="buttonSpliter" />
    <div class="mainButtonContainer">
        <div ng-switch on="vehicleMainDetails.vehicleState">
            <button class="btnCompact btn-success" ng-switch-when="2" data-ng-click="fnVehicleAcceptBooking()">Accepted</button>
            <button class="btnCompact btn-danger" ng-switch-when="2" data-ng-click="fnVehicleRejectBooking()">Rejected</button>
        </div>
        <!-- <div>
            <button class="btnCompact btn-success" data-ng-click="fnVehicleChangeLocation()">Landmark Change</button>
            <button class="btnCompact btn-success" data-ng-click="fnVehicleBreakStart()">Break Start</button>
            <button class="btnCompact btn-success" data-ng-click="fnVehicleBreakStop()">Break Stop</button>
            <button class="btnCompact btn-success" data-ng-click="fnVehicleLogout()">Logout</button>
        </div> -->
        <p class="clear"/>
    </div>
</fieldset>
<p class="clear"/>
