<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Vehicle Closing Report</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span  class="innerLabel">Caller Name: </span>
                <span>New Caller</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.: </span>
                <span>888888</span>
            </div>
        </div>
        <div class="modal-body" > 
            <fieldset class="left">
                <legend class="searchbox-border">Closing Report</legend>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Start Time</label>
                    <span>{{vehicleDetails.vehicleMainDetials.details.pickupTime}}</span>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Current Time</label>
                    <span>{{bookingClose.currentTimeDisplay}}</span>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Trip Time</label>
                    <span>03:00:00</span>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Start Kms</label>
                    <span>{{vehicleDetails.vehicleMainDetials.details.startKms}}</span>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Current Kms</label>
                    <input type="text" ng-model="bookingClose.currentKms" maxlength="15" class="textFieldCompact" value=""/>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Actual Kms</label>
                    <span>{{bookingClose.actualKms}}</span>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Actual Drop Place</label>
                    <span class="ellipsisText" title="{{vehicleDetails.vehicleMainDetials.details.dropPlace}}">{{vehicleDetails.vehicleMainDetials.details.dropPlace}}</span>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Drop Place</label>
                    <input type="text" ng-model="bookingClose.actualDropPlace" maxlength="15" class="textFieldCompact" googleplace/>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Selected Package</label>
                    <span>{{bookingClose.tariffDetails.text}}</span>
                </div>
                <div class="fieldContainer  relative">
                    <label class="labelCompact">Actual Package</label>
                    <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="bookingClose.tariffActual" data-ng-options="obj.id as obj.text for obj in vehiclePackageTypes" disabled></select>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Total Amount</label>
                    <span>{{bookingClose.totalAmount}}</span>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Actual Amount</label>
                    <input type="text" ng-model="bookingClose.paidAmount" maxlength="15" class="textFieldCompact" value="1300"/>
                </div>
            </fieldset>
            <p class="clear"/>
        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndClose()" >Save & Close</button>
        </div>
    </div>
</div>
