<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Vehicle Closing Report</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span  class="innerLabel">Caller Name: </span>
                <span>-</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.: </span>
                <span>-</span>
            </div>
        </div>
        <div class="modal-body" > 
            <fieldset>
                <legend class="searchbox-border">Closing Report</legend>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">Start Time</label>
                    <span style="font-size: 12px;">{{vehicleDetails.vehicleMainDetails.details.displayPickupDate}} {{bookingClose.pickupTimeText}}</span>
                </div>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">Current Time</label>
                    <span style="font-size: 12px;">{{bookingClose.currentTimeDisplay}}</span>
                </div>
                <div class="fieldContainer relative left">
                    <label class="labelCompact" style="width: 80px;">Trip Time</label>
                    <span class="ellipsisText" title="{{bookingClose.tripTime}}" style="font-size: 12px;
width: 115px;">{{bookingClose.tripTime}}</span>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">Start Kms</label>
                    <span>{{vehicleDetails.vehicleMainDetails.details.startKms}}</span>
                </div>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">Current Kms</label>
                    <input type="text" ng-model="bookingClose.currentKms" maxlength="10" class="textFieldCompact" data-ng-blur="fnCalculateOnCurrentKms()"/>
                </div>
                <div class="fieldContainer relative left">
                    <label class="labelCompact" style="width: 80px;">Trip Kms</label>
                    <span>{{bookingClose.actualKms}}</span>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">Drop Place</label>
                    <span class="ellipsisText" title="{{vehicleDetails.vehicleMainDetails.details.dropPlace}}">{{vehicleDetails.vehicleMainDetails.details.dropPlace}}</span>
                </div>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">New Drop Place</label>
                    <input type="text" data-ng-class="{fieldExpand: locationFocused}" data-ng-blur="locationFocused=false" data-ng-focus="locationFocused=true" ng-model="bookingClose.actualDropPlace" maxlength="15" class="textFieldCompact" googleplace/>
                </div>
                <p class="clear"/>
                <div class="fieldContainer fieldContainer-lg relative left margin-right10">
                    <label class="labelCompact">Package</label>
                    <span>{{bookingClose.tariffDetails.text}}</span>
                    <!-- <span class="ellipsisText" title="{{bookingClose.tariffDetails.text}}">{{bookingClose.tariffDetails.text}}</span> -->
                </div>
                <div class="fieldContainer fieldContainer-lg relative left margin-right10">
                    <label class="labelCompact">New Package</label>
                    <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="bookingClose.tariffActual" data-ng-options="obj.id as obj.text for obj in vehiclePackageTypes" disabled></select>
                </div>
                <p class="clear"/>
                <div class="fieldContainer fieldContainer-lg relative left margin-right10">
                    <label class="labelCompact">Journey Type</label>
                    <select class=" validate[maxSize[36]] selectFieldCompact" data-ng-model="tmpDetails.tmpJourneyType" data-ng-change="fnPopSubJourneyTypes()" data-ng-options="obj.id as obj.journeyType for obj in journeyTypes" disabled></select>
                </div>
                <div class="fieldContainer fieldContainer-lg relative left">
                    <label class="labelCompact">Sub-Journey Type</label>
                    <select class=" validate[maxSize[36]] selectFieldCompact"  data-ng-model="vehicleDetails.vehicleMainDetails.details.subJourneyType" data-ng-options="obj.id as obj.journeyType for obj in subJourneyTypes | filter:{parentId: tmpSelectedJourneyType.id}" disabled></select>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact" title="Extra Hour Charge">Ex. Hr Chrg.</label>
                    <span>{{bookingClose.extraHrChrg}}</span>
                </div>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact" title="Extra Kms Charge">Ex. Kms Chrg.</label>
                    <span>{{bookingClose.extraKmsChrg}}</span>
                </div>
                <div class="fieldContainer relative left">
                    <label class="labelCompact" title="Grace Time">Grace Time</label>
                    <span>{{bookingClose.graceTime}}</span>
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact" title="Customer Category">Cust. Catg.</label>
                    <span>{{bookingClose.custCat}}</span>
                </div>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact" title="Customer Grade">Cust. Grade</label>
                    <span>{{bookingClose.custGrade}}</span>
                </div>
                <div class="fieldContainer relative left">
                    <label class="labelCompact" title="Discount">Discount</label>
                    <input type="text" ng-model="bookingClose.discount" maxlength="5" class="textFieldCompact" style="width: 50px;" data-ng-blur="fnCalculateDiscount()"/>&nbsp; &#37;
                </div>
                <p class="clear"/>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">Total Amount</label>
                    <span>{{bookingClose.totalAmount}}</span>
                </div>
                <div class="fieldContainer relative left margin-right10">
                    <label class="labelCompact">Paid Amount</label>
                    <input type="text" ng-model="bookingClose.paidAmount" maxlength="15" class="textFieldCompact"/>
                </div>
                <p class="clear"/>
                <div class="fieldContainer fieldContainer-lg relative left margin-right10">
                    <label class="labelCompact">Reason</label><!--  ng-model="" -->
                    <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="bookingClose.reasonId" data-ng-options="obj.id as obj.description for obj in vehicleBkngCloseReasonTypes"></select>
                </div>
                <div class="fieldContainer fieldContainer-lg relative left margin-right10" style="height:60px;">
                    <label class="labelCompact">Comments</label>
                    <textarea data-ng-model="bookingClose.comments" class=""></textarea>
                </div>
                <p class="clear"/>
            </fieldset>
            <p class="clear"/>
        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndClose()" >Save</button>
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>
