<fieldset class="searchbox-border customerDetailsContainer left">
    <legend class="searchbox-border">Driver Details</legend>
    <div class="relative">
        <div class="fieldContainer clearBoth relative clearBoth">
            <label class="labelCompact">Search </label>
            <input type="text" ng-model="searchDetails.searchByVehicleId" class="left textFieldCompact" data-ng-enter="fnVehicleSearchButton();" maxlength="10" />
            <input name="" checked class="left smsCheckbox" type="checkbox" checked>
        </div>
        <!-- <div class="fieldContainer relative clearBoth">
            <label class="labelCompact">Search </label>
            <input type="text" ng-model="searchDetails.searchByVehicleId" class="validate[required,maxSize[128]] textFieldCompact"  />
            <button class="btnCompact btn-success" data-ng-click="fnVehicleSearchButton();" style="width: 30px;margin: 0px 0px 0px 5px;">Go</button>
            <input name="" checked class="left smsCheckbox" type="checkbox" checked>
        </div> -->
        <div class="fieldContainer relative clearBoth">
            <label class="labelCompact">V.Owner Name </label>
            <input type="text" ng-model="vehicleMainDetails.owner.name" class="left textFieldCompact" alphabets-only readonly />
            <span class="smsText">SMS</span>
        </div>
        <div class="fieldContainer relative clearBoth">
            <label class="labelCompact">Caller Ph.</label>
            <input type="text" ng-model="callerPhone" class="left textFieldCompact" readonly phone />
            <input name="" checked class="left smsCheckbox" type="checkbox" checked>
        </div>
        <div class="fieldContainer clearBoth relative">
            <label class="labelCompact">Owner No.</label>
            <input type="text" ng-model="vehicleMainDetails.owner.mobile" class="left textFieldCompact" phone/>
            <input name="" class="left smsCheckbox" type="checkbox" value="" >
        </div>
        <div class="fieldContainer clearBoth relative">
            <label class="labelCompact">Current Place</label>
            <input type="text" ng-model="vehicleMainDetails.location" class="left validate[required,maxSize[128]] textFieldCompact" readonly title="{{vehicleMainDetails.location}}" />
        </div>
        <div class="fieldContainer clearBoth relative" >
            <label class="labelCompact">Driver Name</label>
            <select class="validate[maxSize[36]] selectFieldCompact" ng-model="vehicleMainDetails.selectedDriver" data-ng-options="obj.id as obj.name for obj in vehicleMainDetails.driver">
            </select>
        </div>
        <hr class="buttonSpliter" />
        <div class="clearBoth relative mainButtonContainer">
            <button class="left btnCompact btn-success" data-ng-click="fnFeedback();" data-ng-disabled="vInfoButtonsDisable">Feedback</button>
            <div class="btn-group">
                <button type="button" class="btnCompact dropdown-toggle" data-toggle="dropdown" data-ng-disabled="vInfoButtonsDisable">
                Add Request <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" ng-switch on="vehicleMainDetails.vehicleState">
                    <li><a href="javascript:void(0);" data-ng-click="fnOpenDisposition()" title="Open Disposition. For:- Enquiry, Follow-up, Rejection.">Disposition</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);" data-ng-click="fnChangeVehiclePhone()">Change Primary No.</a></li>
                    <li ng-switch-when="2"><a href="javascript:void(0);" data-ng-click="fnVehicleChangeLocation()">Change Location.</a></li>
                    <li><a href="javascript:void(0);" data-ng-click="fnChangeVehicleStatus()">Vehcile Status Change</a></li>
                    <li class="divider"></li>
                    <li ng-switch-when="4"><a href="javascript:void(0);" data-ng-click="fnChangeVehicle()">Change Vehicle</a></li>
                    <li ng-switch-when="5"><a href="javascript:void(0);" data-ng-click="fnChangeVehicle()">Change Vehicle</a></li>
                    <li ng-switch-when="6"><a href="javascript:void(0);" data-ng-click="fnChangeVehicle()">Change Vehicle</a></li>
                    <li class="divider"></li>
                    <li ng-switch-when="2"><a href="javascript:void(0);" data-ng-click="fnVehicleBreakStart()">Break Start</a></li>
                    <li ng-switch-when="3"><a href="javascript:void(0);" data-ng-click="fnVehicleBreakStop()">Break Stop</a></li>
                    <li ng-if="vehicleMainDetails.vehicleState != 1"><a href="javascript:void(0);" data-ng-click="fnVehicleLogout()">Logout</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);" data-ng-click="fnRoadSideBooking()">Road Side Booking</a></li>
                    <li class="divider"></li>
                    <li ng-if="vehicleMainDetails.vehicleState != 1"><a href="javascript:void(0);" data-ng-click="fnVehicleBreakdown()">Vehicle Breakdown</a></li>
                </ul>
            </div>
        </div>
        <p class="clear" />
    </div>
</fieldset>
<p class="clear"/>
