<fieldset class="bookingFormController left" style="margin-left: 7px;">
    <legend class="searchbox-border">Vehicle Vacant</legend>

    <div class="fieldContainer  relative left">
        <label class="labelCompact">Login Time</label>
        <input type="text" ng-model="bookingDetails.journeyDate" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact">Vacant Time</label>
        <select class=" validate[maxSize[36]] selectFieldCompact">
            <option>Choose</option>
        </select>
    </div>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">No.of Breaks</label>
        <input type="text" ng-model="bookingDetails.journeyDate" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact">Overall BT</label>
        <input type="text" ng-model="bookingDetails.journeyDate" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>
     <div class="fieldContainer  relative left">
        <label class="labelCompact">No.of Bkings</label>
        <input type="text" ng-model="bookingDetails.journeyDate" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact">Day Collection</label>
        <input type="text" ng-model="bookingDetails.journeyDate" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">Current Loc</label>
        <input type="text" ng-model="bookingDetails.journeyDate" class=" validate[required,maxSize[128]] textFieldCompact" placeholder="" />
    </div>

        <p class="clear"/>
    <hr class="buttonSpliter" />
    <div class="mainButtonContainer">
        <div>
            <button class="btnCompact btn-danger">Landmark Change</button> <!--  data-ng-click="fnOpenCancelBooking()" data-ng-show="bShowCancel" -->
            <button class="btnCompact btn-success">Break Start</button>
            <button class="btnCompact btn-success">Break Stop</button>
            <button class="btnCompact btn-success">Logout</button>
        </div>
        <p class="clear"/>
    </div>
</fieldset>
<p class="clear"/>
