<div class="container-fluid vehicleDetailsControlView">
	<h4 class="left">Vehicle and Driver Details</h4>
	<div class="btn-group left" style="margin-top: 5px;">
        <button type="button" class="btnCompact dropdown-toggle" data-toggle="dropdown" data-ng-disabled="vInfoButtonsDisable">Add Request <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" ng-switch on="vehicleDetailsData.vehicle.vehicleStatus">
            <!-- <li><a href="javascript:void(0);" data-ng-click="fnOpenDisposition()" title="Open Disposition. For:- Enquiry, Follow-up, Rejection.">Disposition</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0);" data-ng-click="fnChangeVehiclePhone()">Change Primary No.</a></li>
            <li ng-switch-when="2"><a href="javascript:void(0);" data-ng-click="fnVehicleChangeLocation()">Change Location.</a></li>
            <li><a href="javascript:void(0);" data-ng-click="fnChangeVehicleStatus()">Vehcile Status Change</a></li>
            <li class="divider"></li>
            <li ng-switch-when="4"><a href="javascript:void(0);" data-ng-click="fnChangeVehicle()">Change Vehicle</a></li>
            <li ng-switch-when="5"><a href="javascript:void(0);" data-ng-click="fnChangeVehicle()">Change Vehicle</a></li>
            <li ng-switch-when="6"><a href="javascript:void(0);" data-ng-click="fnChangeVehicle()">Change Vehicle</a></li> -->


            <!-- <li ng-switch-when="4"><a href="javascript:void(0);" data-ng-click="fnVehicleConfirm()">Confirm</a></li>
            <li ng-switch-when="4"><a href="javascript:void(0);" data-ng-click="fnVehicleRejectBooking()">Rejected</a></li>
            <li ng-switch-when="5"><a href="javascript:void(0);" data-ng-click="fnVehicleBookingCancel()">Cancel</a></li>
            <li ng-switch-when="5"><a href="javascript:void(0);" data-ng-click="fnVehicleRejectBooking()">Rejected</a></li> -->
            <li ng-switch-when="5"><a href="javascript:void(0);" data-ng-click="fnVehicleBookingStart()">Start Report</a></li>
            <!-- <li ng-switch-when="5"><a href="javascript:void(0);" data-ng-click="fnVehicleBookingTariff()">Change Tariff</a></li>
            <li ng-switch-when="5"><a href="javascript:void(0);" data-ng-click="fnChangeVehPickupLocation()" title="Change Pickup Location">CPL</a></li> -->
            <li ng-switch-when="6"><a href="javascript:void(0);" data-ng-click="fnVehicleBookingClose()">Closing Report</a></li>
            <li class="divider"></li>
            <!-- <li ng-switch-when="2"><a href="javascript:void(0);" data-ng-click="fnVehicleBreakStart()">Break Start</a></li>
            <li ng-switch-when="3"><a href="javascript:void(0);" data-ng-click="fnVehicleBreakStop()">Break Stop</a></li>
            <li ng-if="vehicleDetailsData.vehicle.vehicleStatus != 1"><a href="javascript:void(0);" data-ng-click="fnVehicleLogout()">Logout</a></li> -->
            <li class="divider"></li>
            <li><a href="javascript:void(0);" data-ng-click="fnRoadSideBooking()">Road Side Booking</a></li>
            <li class="divider"></li>
            <!-- <li ng-if="vehicleDetailsData.vehicle.vehicleStatus != 1"><a href="javascript:void(0);" data-ng-click="fnVehicleBreakdown()">Vehicle Breakdown</a></li> -->
        </ul>
    </div>
    <p class="clear" />
	<div class="row">
		<div class="col-xs-6">
			<label title="Driver Id">Dr. Id</label> {{vehicleDetailsData.driver.driverCode}}
		</div>
		<div class="col-xs-6">
			<label title="Driver Name">D.Name</label>
			<span class="ellipsisText" title="Xyxll">{{vehicleDetailsData.driver.name}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Vehicle Id">Veh.Id</label>{{vehicleDetailsData.vehicle.vehicleCode}}
		</div>
		<div class="col-xs-6"><!-- Removed ng-if as it was giving issue when data updates  ng-if="vehicleDetailsData.vehicle.registeredMobile" -->
			<select data-ng-model="vehicleDetailsData.dispatchCallDriverNo" title="Driver No" class="left">
				<option value="{{vehicleDetailsData.driver.mobile}}" title="Driver No.">D.No</option>
				<option ng-selected="vehicleDetailsData.vehicle.registeredMobile" value="{{vehicleDetailsData.vehicle.registeredMobile}}" title="Registered No.">R.No</option>
			</select>
			<span title="Call" class="call-icon" data-ng-click="fnDispatchCallDriver()"><span class="glyphicon glyphicon-earphone"></span> Call</span>
			<p class="clear" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Total Days">T.Days</label> {{vehicleDetailsData.vehicle.totalDays}}
		</div>
		<div class="col-xs-6">
			<label title="Total Working Days">TW.Days</label> {{vehicleDetailsData.vehicle.totalWorkingDays}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Projected Login Time">PL Time</label> {{vehicleDetailsData.vehicle.projectedLoginTime}}
		</div>
		<div class="col-xs-6">
			<label title="Present Average Login Time">PAL. Time</label> {{vehicleDetailsData.vehicle.presentAvgLoginTime}}
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-xs-6">
			<label title="Projected Collection">P.Coll</label> {{vehicleDetailsData.vehicle.projectedCollection}}
		</div>
		<div class="col-xs-6">
			<label title="Present Average Collection">PA.Coll</label> {{vehicleDetailsData.vehicle.presentAvgCollection}}
		</div>
	</div> -->	
	<div class="row">
		<div class="col-xs-6">
			<label title="Login Time">LiT</label> {{vehicleDetailsData.vehicle.loginTime}}
		</div>
		<div class="col-xs-6">
			<label title="Expected Logout Time">ELoT</label> {{vehicleDetailsData.vehicle.logoutTime}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Previous Location">PL</label> {{vehicleDetailsData.vehicle.prevousLocation}}
		</div>
		<div class="col-xs-6">
			<label title="Status">Status</label> {{vehicleDetailsData.vehicle.status}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Day Collection">Day Call</label> {{vehicleDetailsData.vehicle.dayCollection}}
		</div>
		<div class="col-xs-6">
			<label title="Total Break Time">T.Br.Tm</label> {{vehicleDetailsData.vehicle.totalBreakTime}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Working Hours">W. Hrs</label> {{vehicleDetailsData.vehicle.totalWorkingTime}}
		</div>
		<div class="col-xs-6">
			<label title="Performance">Perf.</label> {{vehicleDetailsData.vehicle.performance}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Total Bookings">T.B.</label> {{vehicleDetailsData.vehicle.totalBookings}}
		</div>
		<div class="col-xs-6">
			<label title="Successfull Bookings">SB</label> {{vehicleDetailsData.vehicle.completedBookings}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Roadside Bookings">Ro.B</label> {{vehicleDetailsData.vehicle.roadsideBookings}}
		</div>
		<div class="col-xs-6">
			<label title="Rejected Bookings">RB</label> {{vehicleDetailsData.vehicle.rejectedBookings}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Cancelled Booking">CB</label> {{vehicleDetailsData.vehicle.canceledBookings}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Manufacture Year">M.Year</label> {{vehicleDetailsData.vehicle.manufactureYear}}
		</div>
		<div class="col-xs-6">
			<label title="Manufacture Month">M.Month</label> {{vehicleDetailsData.vehicle.manufactureMonth}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<label title="Driver Rating">D.Rating</label>
			<span ng-repeat="j in vehicleDetailsData.driver.aRating">
				<span class="glyphicon {{j.cls}}"></span>
			</span>
		</div>
		<div class="col-xs-6">
			<label title="Vehicle Rating">V.Rating</label>
			<span ng-repeat="j in vehicleDetailsData.vehicle.aRating">
				<span class="glyphicon {{j.cls}}"></span>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<label title="Available Facilities" class="vTop">Facilities</label>
			<ul class="facilities">
				<li ng-repeat="i in vehicleDetailsData.vehicle.facilities">
					<span class="glyphicon glyphicon-check"></span> {{i}}
				</li>
			</ul>
		</div>
	</div>
</div>