<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Vehicle Logout</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span  class="innerLabel">Caller Name: </span>
                <span>-</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.: </span>
                <span>-</span>
            </div>
        </div>
        <div class="modal-body" > 
            <fieldset class="left">
                <legend class="searchbox-border">Vehicle Logout</legend>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Current Location</label>
                    <input type="text" ng-model="logout.currentLocation" maxlength="15" class="textFieldCompact" googleplace />
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact">Current Kms</label>
                    <input type="text" ng-model="logout.currentKms" maxlength="15" class="textFieldCompact" />
                </div>
            </fieldset>
            <p class="clear"/>
        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndClose()" >Save & Close</button>
        </div>
    </div>
</div>
