<fieldset class="dispatchFormController left" data-ng-controller="vehicleActivityController" style="margin-left: 7px;height:212px;">
    <legend class="searchbox-border">Vehicle Login</legend>

    <div class="fieldContainer relative left">
        <label class="labelCompact">Vehicle Name</label>
        <span>{{vehicleDetails.vName}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Vehicle Type</label>
        <span>{{vehicleDetails.vType}}</span>
    </div>
    <p class="clear" />
    <div class="fieldContainer relative left">
        <label class="labelCompact">Current Loc</label>
        <span title="{{vehicleMainDetails.location}}" class="ellipsisText">{{vehicleMainDetails.location}}</span>
    </div>
    <div class="fieldContainer relative right" style="width: 180px;">
        <label class="labelCompact">Reg. No.</label>
        <span>{{vehicleMainDetails.details.registrationNumber}}</span>
    </div>
     <div class="fieldContainer relative left" style="width: 180px;">
        <label class="labelCompact">New Location</label>
        <!-- <div angucomplete id="ex1" placeholder="Search" pause="100" selectedObject="vehicleDetails.loginLocation" localdata="allLocations" searchfields="location" titlefield="location" minlength="1" inputclass="form-control form-control-small textFieldCompact"/> -->
        <input type="text" data-ng-class="{fieldExpand: locationFocused}" data-ng-blur="locationFocused = false" data-ng-focus="locationFocused = true" ng-model="vehicleDetails.loginLocation" class="validate[required,maxSize[128]] textFieldCompact" placeholder="New Location" googleplace/>
    </div>
    <div class="fieldContainer relative right" style="width: 180px;">
        <label class="labelCompact">V.Model</label>
        <span>{{vehicleDetails.loginVehModel}}</span>
    </div>
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Start Kms</label>
        <input type="text" ng-model="vehicleMainDetails.loginStartKms" class="validate[required,maxSize[128]] textFieldCompact" placeholder="Login Kms" number-only/>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Paper Validity</label>
        <span>{{vehicleDetails.vPaperValidity}}</span>
    </div>
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact" title="Expected Login Hours">E. LiH</label>
        <select class="selectFieldCompact" data-ng-model="vehicleMainDetails.expLoginHours" ng-options='k as v for (k,v) in hours'></select>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <span class="left margin-right10" title="Carrier">C</span>
        <span class="left margin-right10 glyphicon glyphicon-ok"></span>

        <span class="left margin-right10" title="Music System">MS</span>
        <span class="left margin-right10 glyphicon glyphicon-remove"></span>

        <span class="left margin-right10" title="Track Device">TD</span>
        <span class="left margin-right10 glyphicon glyphicon-ok"></span>

        <!-- <span>{{vehicleDetails.vMusicPlayer}}</span> -->
        <!-- <span>{{vehicleDetails.vTrackingDevice}}</span> -->

        <p class="clear" />
    </div>
    <div class="fieldContainer relative left">
        <label class="labelCompact">V.Condition</label>
        <span>{{vehicleDetails.vConditionText}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Veh. Status</label>
        <span>{{vehicleDetails.vStatusText}}</span>
    </div>
    <p class="clear"/>
    <hr class="buttonSpliter" />
    <div class="mainButtonContainer">
        <div>
            <button class="btnCompact btn-success" data-ng-click="fnVehicleLogin()" data-ng-show="bloginShow">Login</button>
            <!-- <button class="btnCompact btn-success" data-ng-click="fnChangeVehicleStatus()">Change Status</button>
            <button class="btnCompact btn-success" data-ng-click="fnChangeVehiclePhone()">Change Phone No.</button> -->
        </div>
        <p class="clear"/>
    </div>
</fieldset>
<p class="clear"/>
