<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title">Vehicle Break Start</h4>
        </div>
        <div class="popupCallerInfo">
            <div class="left innerLabelContainer">
                <span  class="innerLabel">Caller Name: </span>
                <span>-</span>
            </div>
            <div class="right innerLabelContainer">
                <span class="innerLabel">Caller Ph.: </span>
                <span>-</span>
            </div>
        </div>
        <div class="modal-body" > 
            <fieldset class="left">
                <legend class="searchbox-border">Vehicle Break Start</legend>
                <div class="fieldContainer relative">
                    <label class="labelCompact requiredField">Current Location</label>
                    <input type="text" ng-model="breakStart.newLocation" maxlength="15" class="textFieldCompact" googleplace/>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact requiredField">Break Reason</label>
                    <select class="validate[maxSize[36]] selectFieldCompact" data-ng-model="breakStart.reasonId" data-ng-options="obj.id as obj.description for obj in vehicleBreakReasonTypes"></select>
                </div>
                <div class="fieldContainer relative">
                    <label class="labelCompact requiredField">Request Time</label>
                    <!-- <input type="text" datepicker ng-model="breakStart.pickupDate" class="textFieldCompact" placeholder="" dpMinDate="dpCurrentDate" dpMaxDate="dpCurrentPlusSevenDate"  /> -->
                    <select class="selectFieldCompact" data-ng-model="breakStart.pickupHours" ng-options='k as v for (k,v) in hours' style="width: 50px;" title="Hours"></select>
                    <select class="selectFieldCompact" data-ng-model="breakStart.pickupMinutes" ng-options='k as v for (k,v) in minutes' style="width:50px;" title="Minutes"></select>
                    <p class="clear"/>
                </div>
                <div class="fieldContainer relative" style="height:75px;display:none;">
                    <label class="labelCompact">Comments</label>
                    <textarea data-ng-model="breakStart.comments" class="cancelBookingComment"></textarea>
                </div>
            </fieldset>
            <p class="clear"/>
        </div>
        <div class="modal-footer">
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="fnSaveAndClose()" >Save</button>
            <button type="button" style="margin: 0px;" class="btn-success btnCompact" ng-click="close()">Cancel</button>
        </div>
    </div>
</div>
