<fieldset class="bookingFormController left" data-ng-controller="vehicleActivityController" style="margin-left: 7px;height:212px;">
    <legend class="searchbox-border">Vehicle Vacant</legend>

    <div class="fieldContainer relative left">
        <label class="labelCompact">Login Time</label>
        <span>{{vehicleMainDetials.details.loginTime}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Vacant Time</label>
        <span>{{vehicleMainDetials.details.vacantTime}}</span>
    </div>
    <p class="clear" />
    <div class="fieldContainer relative left">
        <label class="labelCompact">No.of Breaks</label>
        <span>{{vehicleMainDetials.details.breakCount}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact" title="Overall Break Time">Overall BT</label>
        <span>{{vehicleMainDetials.details.breakTime}}</span>
    </div>
    <p class="clear" />
     <div class="fieldContainer relative left">
        <label class="labelCompact">No.of Bkings</label>
        <span>{{vehicleMainDetials.details.bookingCount}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px;">
        <label class="labelCompact">Day Collection</label>
        <span>{{vehicleMainDetials.details.dayCollection}}</span>
    </div>
    <div class="fieldContainer relative left">
        <label class="labelCompact">Current Loc</label>
        <span>{{vehicleMainDetials.details.location}}</span>
    </div>

        <p class="clear"/>
    <hr class="buttonSpliter" />
    <div class="mainButtonContainer">
        <div>
            <!-- <button class="btnCompact btn-success" data-ng-click="fnVehicleChangeLocation()">Landmark Change</button>  --><!--  data-ng-click="fnOpenCancelBooking()" data-ng-show="bShowCancel" -->
            <!-- <button class="btnCompact btn-success" data-ng-click="fnVehicleBreakStart()">Break Start</button>
            <button class="btnCompact btn-success" data-ng-click="fnVehicleBreakStop()">Break Stop</button>
            <button class="btnCompact btn-success" data-ng-click="fnVehicleLogout()">Logout</button> -->
            <button class="btnCompact btn-success" data-ng-click="fnVehicleConfirm()">Accepted</button>
            <button class="btnCompact btn-danger" data-ng-click="fnVehicleReject()">Rejected</button>
        </div>
        <p class="clear"/>
    </div>
</fieldset>
<p class="clear"/>
