<fieldset class="dispatchFormController left" data-ng-controller="vehicleActivityController" style="margin-left: 7px;">
    <legend class="searchbox-border">Vehicle {{vStateHeading}}</legend>
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Pickup Date</label>
        <span>{{vehicleMainDetails.details.displayPickupDate}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px">
        <label class="labelCompact">Pickup Time</label>
        <span>{{vehicleMainDetails.details.pickupTimeText}}</span>
    </div>
    <p class="clear"/>
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Vehicle Name</label>
        <span>{{vehicleDetails.vName}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px">
        <label class="labelCompact">Vehicle Type</label>
        <span>{{vehicleDetails.vType}}</span>
    </div>
    <p class="clear"/>
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Pickup</label>
        <span title="{{vehicleMainDetails.details.pickupPlace}}" class="ellipsisText">{{vehicleMainDetails.details.pickupPlace}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px">
        <label class="labelCompact">Drop Place</label>
        <span class="ellipsisText" title="{{vehicleMainDetails.details.dropPlace}}">{{vehicleMainDetails.details.dropPlace}}</span>
    </div>
    <p class="clear"/>
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Cust Name.</label>
        <span>{{vehicleMainDetails.details.customerName}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px">
        <label class="labelCompact">Cust Ph.</label>
        <span>{{vehicleMainDetails.details.customerMobile}}</span>
    </div>
    <p class="clear"/>
    <div class="fieldContainer  relative left">
        <label class="labelCompact">Journey Type</label>
        <select class=" validate[maxSize[36]] selectFieldCompact" data-ng-model="tmpDetails.tmpJourneyType" data-ng-change="fnPopSubJourneyTypes()" data-ng-options="obj.id as obj.journeyType for obj in journeyTypes" disabled></select>
    </div>
    <div class="fieldContainer  relative right">
        <label class="labelCompact" style="width: 113px;">Sub-Journey Type</label>
        <select class=" validate[maxSize[36]] selectFieldCompact"  data-ng-model="vehicleMainDetails.details.subJourneyType" data-ng-options="obj.id as obj.journeyType for obj in subJourneyTypes | filter:{parentId: tmpSelectedJourneyType.id}" disabled></select>
    </div>
    <p class="clear"/>
    <!-- <div class="fieldContainer relative left">
        <label class="labelCompact">Journey Type</label>
        <select class=" validate[maxSize[36]] selectFieldCompact" data-ng-model="tmpDetails.tmpJourneyType" data-ng-change="fnPopSubJourneyTypes()" data-ng-options="obj.id as obj.journeyType for obj in journeyTypes"></select>
    </div>
    <div class="fieldContainer relative right">
        <label class="labelCompact" style="width: 113px;">Sub-Journey Type</label>
        <select class=" validate[maxSize[36]] selectFieldCompact"  data-ng-model="bookingDetails.subJourneyType" data-ng-options="obj.id as obj.journeyType for obj in subJourneyTypes | filter:{parentId: tmpSelectedJourneyType.id}"></select>
    </div> -->
    <div class="fieldContainer relative left" style="width:180px;">
        <label class="labelCompact">Landmark1</label>
        <span class="ellipsisText" title="{{vehicleMainDetails.details.landmark1}}">{{vehicleMainDetails.details.landmark1}}</span>
    </div>
    <div class="fieldContainer relative right" style="width:180px">
        <label class="labelCompact">Landmark2</label>
        <span class="ellipsisText" title="{{vehicleMainDetails.details.landmark2}}">{{vehicleMainDetails.details.landmark2}}</span>
    </div>
    <p class="clear"/>
    <hr class="buttonSpliter" />
    <div class="mainButtonContainer">
        <div style="text-align: center;">
            <div ng-switch on="vehicleMainDetails.vehicleState">
                <button ng-switch-when="4" class="btnCompact btn-success" data-ng-click="fnVehicleConfirm()">Confirm</button>
                <button ng-switch-when="4" class="btnCompact btn-danger" data-ng-click="fnVehicleRejectBooking()">Rejected</button>
                <!-- <button ng-switch-when="4" class="btnCompact btn-success" data-ng-click="fnVehicleBookingStart()">Start Report - Need to remove</button> -->

                <button ng-switch-when="5" class="btnCompact btn-danger" data-ng-click="fnVehicleBookingCancel()">Cancel</button>
                <button ng-switch-when="5" class="btnCompact btn-danger" data-ng-click="fnVehicleRejectBooking()">Rejected</button>
                <button ng-switch-when="5" class="btnCompact btn-success" data-ng-click="fnVehicleBookingStart()">Start Report</button>
                <button ng-switch-when="5" class="btnCompact btn-success" data-ng-click="fnVehicleBookingTariff()">Change Tariff</button>
                <button ng-switch-when="5" class="btnCompact btn-success" data-ng-click="fnChangeVehPickupLocation()" title="Change Pickup Location">CPL</button>
                
                <button ng-switch-when="6" class="btnCompact btn-success" data-ng-click="fnVehicleBookingClose()">Closing Report</button>
            </div>
            <!-- <button class="btnCompact btn-success" data-ng-click="fnVehicleBookingComplaint()">Complaints</button> -->
            <!-- <button class="btnCompact btn-success" data-ng-click="fnChangeVehicle()">Change Vehicle</button> -->
        </div>
        <p class="clear"/>
    </div>
</fieldset>
<p class="clear"/>
