<div fit-height-layout ng-model ="bookingVehiclesGridHeight">
	<div class="gridStyle" id="dispatcherVehiclesForBookingGrid" ng-grid="gridForVehicleBookingsData" style="margin:0px;" ng-class="{vehicleHalfView:bookingVehicleSelected}"></div>
	<div class="booking-vehicle-info-holder" ng-show='bookingVehicleSelected'>
		<div class="panel panel-info">
			<div class="panel-heading short-panel-heading">
			    <span class="panel-title left">Vehicle details</span>
				<span ng-switch on="vehicleDetailsData.vehicle.vehicleStatus" class="right">
					<button class="btnCompact btn-success left" ng-switch-when="2" data-ng-click="fnControlViewVehicleAccepBooking()">Accept</button>
            		<button class="btnCompact btn-danger left" ng-switch-when="2" data-ng-click="fnControlViewVehicleRejectBooking()">Reject</button>

					<button ng-switch-when="4" class="btnCompact btn-success left" data-ng-click="fnControlViewVehicleConfirm()">Confirm</button>
					<button ng-switch-when="4" class="btnCompact btn-danger left" data-ng-click="fnControlViewVehicleRejectBooking()">Reject</button>
					<i class="glyphicon glyphicon-remove" ng-click="bookingVehicleDetailsPageCloseFn()"></i>
					<span class="clearfix"></span>
				</span>
				<span class="clearfix"></span>
			</div>
			<div class="panel-body padding-5-panel-body">
			  <div class="vehicle-details-holder">
			  	<div data-ng-include="vehicleDetailedInfoSplitView"></div>
			  </div>
			</div>
		</div>
	</div>
</div>