<fieldset class="searchbox-border customerDetailsContainer" data-ng-controller="extraInfoDetails">
    <legend class="searchbox-border">Extra Information (Feedback)</legend>
    	 <div class="fieldContainer relative left">
            <label class="control-label">Last Time Visit Experience Rating</label>
            <input type="text" ng-model="extraInformation.rating" class="form-control validate[required,maxSize[128]] large" placeholder="Experience Ratings" />
        </div>
    	 <div class="fieldContainer relative left">
            <label class="control-label">Driver Performance</label>
            <input type="text" ng-model="extraInformation.driverPerformance" class="form-control validate[required,maxSize[128]] large" placeholder="Driver Performance" />
        </div>
    	 <div class="fieldContainer relative left">
            <label class="control-label">Customer Care Support</label>
            <input type="text" ng-model="extraInformation.customerCareSupport" class="form-control validate[required,maxSize[128]] large" placeholder="Customer Care Support" />
        </div>
    	 <div class="fieldContainer relative left">
            <label class="control-label">Vehicle Experience</label>
            <input type="text" ng-model="extraInformation.vehicleExperience" class="form-control validate[required,maxSize[128]] large" placeholder="Vehicle Experience" />
        </div>
    	 <div class="fieldContainer relative left">
            <label class="control-label">On-time Pickup</label>
            <input type="text" ng-model="extraInformation.onTimePickup" class="form-control validate[required,maxSize[128]] large" placeholder="On-time Pickup" />
        </div>
    	 <div class="fieldContainer relative left">
            <label class="control-label">Any Suggestion</label>
            <input type="text" ng-model="extraInformation.anySuggestion" class="form-control validate[required,maxSize[128]] large" placeholder="Any Suggestion" />
        </div>
</fieldset>
