<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
            <h4 class="modal-title" data-ng-bind="modalHeading"></h4>
        </div>
        <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px">
            <div class="alert alert-error clearfix" ng-show="showError">
                <div ng-bind-html-unsafe="errorMsg" class="left"></div>
                <button type="button" name="dupBdgErrorMsgBtn" id="dupBdgErrorMsgBtn" class="close left" ng-click="     hideErrorMsg()">&times;
                </button>
            </div>
             <div class="smallModalLabel fieldContainer relative left">
                <label class="control-label">Driver Name</label>
                 <select chosen="" allow-single-deselect="true" data-placeholder="Choose a driver" no-results-text="'Tough luck'" ng-model="chosenDriver" ng-options="value.id as (value.firstName + ' ' + value.firstName) for (key,value) in driversList" style="width:200px">
                <option value=""></option>
            </select>
            </div>

            <div class="smallModalLabel fieldContainer relative left">
                <label class="control-label">Kilometers </label>
                <input type="number" name="input" ng-model="kilometers" min="0" max="99" required="">
            </div>

            

            <div class="smallModalLabel fieldContainer relative left">
                
                <div class="dropdown">
                <label class="control-label">Login Time </label>
                  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <div class="input-append"><input type="text" class="input-large" data-ng-model="loginTime"><span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="loginTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }">
                  </ul>
                </div>
            </div>

            <div class="smallModalLabel fieldContainer relative left">
                <label class="control-label">Place</label>
                <input ng-model="chosenPlace" googleplace="">
            </div>

            <div class="smallModalLabel fieldContainer relative left">
                <label class="control-label">Comments</label>
                <textarea ng-model="vehicleComments"> </textarea>
            </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="handleSave()">Save</button>
        </div>
    </div>
</div>