<div class="customer-booking-tabs">
    <ul class="nav nav-tabs" style="margin-top: 20px;">
        <li data-ng-class="{ active: fnIsActiveExteriorSubTab(1)}" data-ng-click="fnSetActiveExteriorSubTab(1)"><a>Exterior Condition</a>
        </li>
        <li data-ng-class="{ active: fnIsActiveExteriorSubTab(2)}" data-ng-click="fnSetActiveExteriorSubTab(2)"><a>Interior Condition</a>
        </li>
        <li data-ng-class="{ active: fnIsActiveExteriorSubTab(3)}" data-ng-click="fnSetActiveExteriorSubTab(3)"><a>Vehicle Performance</a>
        </li>
    </ul>

    <div class="tab-body" data-ng-show="exteriorSubTab==1">
        <div data-ng-include="vehicleDentAndScratchesDetails" style="clear:both;"></div>
    </div>
    <div class="tab-body" data-ng-show="exteriorSubTab==2">
        <div data-ng-include="vehicleTyresDetails" style="clear:both;"></div>
    </div>
    <div class="tab-body" data-ng-show="exteriorSubTab==3">
        <div data-ng-include="vehicleLightsDetails" style="clear:both;"></div>
    </div>
</div>