<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
			<h4 class="modal-title">Modal title</h4>
		</div>
		<div class="modal-body">
			<p>One fine body…</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="close()">Close</button>
			<button type="button" class="btn btn-primary" ng-click="close()">Save changes</button>
		</div>
	</div><!-- /.modal-content -->
</div>