<fieldset class="bookingStatistics" ng-controller="bookingStatisticsController">
    <legend class="searchbox-border">{{selStatisticHour}} Statistics</legend>
    <div id="customerBookingGridID" class="bookingHistoryGrid">
    	<div class="gridStyle" ng-grid="gridStatisticsData"></div>
    </div>
    <div class="mainButtonContainer">    	
	    <div class="hourType">{{ sHourType }}</div>
    	<div class="fieldContainer relative bookingStatisticsDropdown">
	        <div class="btn-group">
                <button type="button" class="btnCompact dropdown-toggle" data-toggle="dropdown">
                {{selectedHoursText}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:void(0);" data-ng-click="fnRefreshStatistics(1)">1 Hour</a></li>
                    <li><a href="javascript:void(0);" data-ng-click="fnRefreshStatistics(2)">2 Hours</a></li>
                    <li><a href="javascript:void(0);" data-ng-click="fnRefreshStatistics(3)">3 Hours</a></li>
                </ul>
            </div>
	    </div>
        <p class="clear" />
    </div>
</fieldset>